.section {
  &__title {
    font-weight: 800;
    font-size: 20px;
    line-height: 1.3;
    letter-spacing: 0.03em;
    color: $main-text-accent-color;

    @include mq(tab) {
      font-size: 26px;
    }

    @include mq(desk) {
      font-size: 46px;
    }
  }
}
