@mixin mq($range) {
  $mobile: 480px;
  $tablet: 768px;
  $decktop: 1366px;

  @if $range ==mob {
    @media (min-width: $mobile) {
      @content;
    }
  } @else if $range ==mob-only {
    @media (max-width: #{$tablet - 0.02}) {
      @content;
    }
  } @else if $range ==tab {
    @media (min-width: $tablet) {
      @content;
    }
  } @else if $range ==tab-only {
    @media (min-width: $tablet) and (max-width: #{$decktop - 0.02}) {
      @content;
    }
  } @else if $range ==desk {
    @media (min-width: $decktop) {
      @content;
    }
  } @else if $range ==no-desk {
    @media (max-width: #{$decktop - 0.02}) {
      @content;
    }
  } @else if $range ==retina {
    @media screen and (min-device-pixel-ratio: 2),
      screen and (-moz-min-device-pixel-ratio: 2),
      screen and (-o-min-device-pixel-ratio: 2/1),
      screen and (-webkit-min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      @content;
    }
  }
}

// Button
@mixin button($width, $height, $color, $background-color) {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: $width;
  min-height: $height;
  padding: 10px;

  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.21;
  text-align: center;
  letter-spacing: 0.14em;
  text-transform: uppercase;

  color: $color;
  background-color: $background-color;

  border: 2px solid $accent-color;
  cursor: pointer;
}
