//  Colors
$accent-color: #ff6b09;
$main-text-accent-color: #111518;
$secondary-text-color: #b9b9b9;
$supplement-text-color: #3d3d3d;
$main-white-color: #ffffff;
$supplement-bg-color: #f1f1f1;

$card-colum: 1;
$card-item: 1;
$gap-left: 0;
$gap-top: 30px;

:root {
  --main-white-color: #ffffff;
  --accent-color: #ff6b09;
}
