//  Colors
$accent-color: #ff6b09;
$main-text-accent-color: #111518;
$secondary-text-color: #b9b9b9;
$supplement-text-color: #3d3d3d;
$main-white-color: #ffffff;
$supplement-bg-color: #f1f1f1;

$card-colum: 1;
$card-item: 1;
$gap-left: 0;
$gap-top: 30px;

.card-set {
  display: flex;
  flex-wrap: wrap;
}

.card-item {
  row-gap: $gap-left;
  column-gap: $gap-top;
  flex-basis: calc((100% - (#{$card-column}) * (#{$gap-left})) / (#{$card-item}));
}
