<section class="about">
  <div class="container">
    <h3 class="about__title section__title">Teacher</h3>
    <div class="about__teacher">
      
        <img
    srcset="
      ./images/about/mob/mob-elena-moreva-1x.jpg 243w,
      ./images/about/desk/desk-elena-moreva-1x.jpg 530w,
      ./images/about/mob/mob-elena-moreva-2x.jpg 486w,
      ./images/about/desk/desk-elena-moreva-1x.jpg 1060w
    "
    sizes="(min-width: 1366px) 530px, (min-width: 768px) 243px, (max-width: 320px) 243px"
    src="./images/about/desk/desk-elena-moreva-1x.jpg"
    alt="teacher - elena moreva"
  class="about__image"/>
      
    <div class="about__profile">
    <div class="about__subtitle">
      <h2 class="about__name">Elena Moreva</h2>
    </div>
    <ul class="about__list">
      <li class="about__item">6 yeards of experience in preparing students for UPE</li>
      <li class="about__item">Own result of passing VNO - 197 points 2 years in a row</li>
      <li class="about__item">
        Passed excellent at the international analogue of UPE - Cambridge PET (Preliminary English
        Test)
      </li>
    </ul>
    <div class="about__text">
      <p class="about__paragraph">
        Graduated from the Institute of International Relations of the NAU with a degree in
        translator-analyst.
      </p>
      <p class="about__paragraph">
        In spare time takes courses from the best universities in the world on effective teaching
        and essay writing techniques.
      </p>
      <p class="about__paragraph">
        Completed: English Grammar and Essay Writing (Berkeley), English Grammar & Style (The
        University of Queesland), How to Write an Essay (Berkeley), Academic and Business Writing
        (Berkeley), The Art of Teaching (GEMS education), Powerful Tools for Teaching and Learning
        (University of Houston).
      </p>
    
    <a
      href="#"
      download="Cambrige English Entry Level Certificate"
      class="about__link"
      target="_blank"
      rel="noreferrer noopener"
      >Cambrige English Entry Level Certificate</a
    >
    </div>
    </div>
    </div>
  
</section>
