<section class="advantages">
  <div class="container">
    <h2 class="visually-hidden">Advantages</h2>
    <ul class="advantages__list">
      <li class="advantages__list-item">
        <p class="advantages__text">Adapted author's UPE program</p>
      </li>
      <li class="advantages__list-item">
        <p class="advantages__text">Modern <span class="advantages__text--nowrap1">teaching methods</span></p>
      </li>
      <li class="advantages__list-item">
        <p class="advantages__text">Financial guarantee <span class="advantages__text--nowrap2">the result</span></p>
      </li>
    </ul>
  </div>
</section>