<footer class="footer" id="footer">
  <div class="container">
    <div class="footer-top-side">
      <a href="./index.html" class="logo logo-footer"
        ><span>Hell</span>
        <svg class="logo-icon" width="22" height="30">
          <use href="./images/header/desk/desk-logo.svg"></use>
        </svg>
        <span>EN</span>

        <span class="logo-title">
          <span class="logo-title logo-title-accent">HELLISH&nbsp;</span>ENGLISH</span
        >
      </a>

      <a href="tel:+380991234567" class="footer-tel">
        <svg class="footer-tel-icon" width="20" height="20">
          <use href="./images/footer/mob/mob-phone.svg"></use>
        </svg>
        +38 (099) 123 45 67</a
      >

      <a href="" class="footer-insta"></a>
    </div>
  </div>

  <div class="footer-bottom-side">
    <div class="container">
      <p class="footer-copyright">&copy; All rights reserved, 2022</p>
    </div>
  </div>
</footer>
