<footer class="footer" id="footer">
  <div class="container">
    <div class="footer__top">
      <a href="./index.html" class="footer__logo logo">
        <svg class="logo__icon" width="128" height="45">
          <use href="/images/sprite/sprite.svg#icon-mob-logo"></use>
        </svg>
      </a>

      <a href="tel:+380991234567" class="footer-tel animate">
        <svg class="footer__icon" width="30" height="30">
          <use href="/images/sprite/sprite.svg#icon-mob-phone"></use>
        </svg>
        +38 (099) 123 45 67</a
      >

      <a href="" class="footer__link">
        <img src="./images/footer/instagram.svg" alt="" />
      </a>
    </div>
  </div>

  <div class="footer__bottom">
    <div class="container">
      <p class="footer__copyright">&copy; All rights reserved, 2022</p>
    </div>
  </div>
</footer>
