<footer class="footer" id="footer">
  <div class="container">
    <div class="footer__top">
      <a href="./index.html" class="footer__logo logo">
        <!-- <span>Hell</span> -->
        <svg class="logo__icon" width="22" height="30">
          <use href="./images/icons/sprite.svg#icon-fire"></use>
        </svg>
        <!-- <span>EN</span> -->

        <span class="logo__title">
          <span class="logo__title logo__accent">HELLISH&nbsp;</span>ENGLISH</span
        >
      </a>

      <a href="tel:+380991234567" class="footer-tel">
        <svg class="footer__icon" width="20" height="20">
          <use href="./images/icons/sprite.svg#tel"></use>
        </svg>
        +38 (099) 123 45 67</a
      >

      <a href="" class="footer__link"></a>
    </div>
  </div>

  <div class="footer__bottom">
    <div class="container">
      <p class="footer__copyright">&copy; All rights reserved, 2022</p>
    </div>
  </div>
</footer>
