<header class="header section header__section">
  <div class="container header__container">
    <a href="./index.html" class="logo header__logo"
      ><img src="./images/header/desk/desk-logo.svg" alt="logo" class="logo__img"
    /></a>
    <!-- Перед заголовкоми секций прописать соответсвующие якорные ссылки 
    Пример: <a id="program"></a>
            <h2>Our program</h2>
                                  -->
    <nav class="navigation">
      <ul class="navigation__list">
        <li class="navigation__item">
          <a href="#program" class="navigation__link">Studying program</a>
        </li>
        <li class="navigation__item">
          <a href="#about" class="navigation__link">About</a>
        </li>
        <li class="navigation__item">
          <a href="#how-we-do" class="navigation__link">Training options</a>
        </li>
        <li class="navigation__item"><a href="#contacts" class="navigation__link">Contacts</a></li>
      </ul>
    </nav>

    <button type="button" class="button header__button">Consultation by phone</button>

    <button
      type="button"
      class="menu-button menu-button--burger"
      aria-expanded="false"
      aria-controls="menu-container"
      data-menu-open
    >
      <svg class="icon" width="40" height="40" aria-label="Переключатель мобильного меню">
        <!-- Временно подключенные иконки -->
        <use class="icon-menu" href="./images/header/mob/mob-menu.svg"></use>
      </svg>
    </button>

    <div class="menu-container navigation__menu-container" data-menu>
      <div class="menu-container__top">
        <a href="./index.html" class="logo menu-container__logo"
          ><img src="./images/logo.svg" alt="logo" class="logo__img"
        /></a>

        <button
          type="button"
          class="menu-button menu-button--cross"
          aria-expanded="true"
          aria-controls="menu-container"
          data-menu-close
        >
          <svg class="icon" width="15" height="15" aria-label="Переключатель мобильного меню">
            Временно подключенные иконки
            <use class="icon-cross" href="./images/header/mob/mob-cross.svg"></use>
          </svg>
        </button>
      </div>

      <ul class="menu-container__list">
        <li class="menu-container__item">
          <a href="program" class="menu-container__link">Studying program</a>
        </li>
        <li class="menu-container__item">
          <a href="about" class="menu-container__link">About</a>
        </li>
        <li class="menu-container__item">
          <a href="how-we-do" class="menu-container__link">Training options</a>
        </li>
        <li class="menu-container__item">
          <a href="contacts" class="menu-container__link">Contacts</a>
        </li>
      </ul>

      <button type="button" class="button menu-container__button">Consultation by phone</button>
    </div>
  </div>
</header>
