<header class="header section header__section">
  <div class="container header__container">
    <a href="./index.html" class="logo header__logo"
      ><svg class="icon-logo">
        <use
          class="icon-logo__fire--gold"
          href="./images/sprite/sprite.svg#icon-logo__fire--gold"
        ></use>
        <use class="icon-logo__fire" href="./images/sprite/sprite.svg#icon-logo__fire"></use>
        <use
          class="icon-logo__txt-accent"
          href="./images/sprite/sprite.svg#icon-logo__txt-accent"
        ></use>
        <use
          class="icon-logo__txt-revers"
          href="./images/sprite/sprite.svg#icon-logo__txt-revers"
          data-logo
        ></use></svg
    ></a>

    <nav class="navigation">
      <ul class="navigation__list">
        <li class="navigation__item">
          <a href="#program" class="navigation__link js-scroll">Studying program</a>
        </li>
        <li class="navigation__item">
          <a href="#about" class="navigation__link js-scroll">About</a>
        </li>
        <li class="navigation__item">
          <a href="#features" class="navigation__link js-scroll">Training options</a>
        </li>
        <li class="navigation__item">
          <a href="#contacts " class="navigation__link js-scroll">Contacts</a>
        </li>
      </ul>
    </nav>

    <button type="button" class="button header__button" data-modal-open>
      Consultation by phone
    </button>

    <button
      type="button"
      class="menu-button"
      aria-expanded="false"
      aria-controls="menu-container"
      aria-label="Кнопка меню"
      data-menu-open
    >
      <span class="burger">
        <span class="burger__line burger__line--first"></span>
        <span class="burger__line burger__line--second"></span>
        <span class="burger__line burger__line--third"></span>
        <span class="burger__line burger__line--fourth"></span>
      </span>
    </button>

    <div class="menu-container navigation__menu-container" id="menu-container" data-menu>
      <div class="box-menu">
        <ul class="menu-container__list">
          <li class="menu-container__item">
            <a href="#program" class="menu-container__link js-scroll">Studying program</a>
          </li>
          <li class="menu-container__item">
            <a href="#about" class="menu-container__link js-scroll">About</a>
          </li>
          <li class="menu-container__item">
            <a href="#features" class="menu-container__link js-scroll">Training options</a>
          </li>
          <li class="menu-container__item">
            <a href="#contacts" class="menu-container__link js-scroll">Contacts</a>
          </li>
        </ul>

        <button type="button" class="button menu-container__button" data-modal-menu-open>
          Consultation by phone
        </button>
      </div>
    </div>
  </div>
</header>
