<section class="section hero">
    <div class="container">
        <!-- <div class="hero__box"> -->
        <div class="hero__inner">
            <h1 class="section__title hero__title">Complex preparation for English UPE</h1>
            <p class="hero__text"><span class="hero__text--grey">It won’t be easy.</span>
                <span class="hero__text--nowrap">But you’re guaranteed to get</span>
                <span class="hero__text--accent">+25 points</span>
            </p>
        </div>
        <a href="#contacts" class="hero__button js-scroll">I want a free lesson</a>
    </div>
</section>