<section class="section hero">
    <div class="container hero__wraper">
        <div class="hero__box">
            <div class="hero__inner">
                <h1 class="section__title hero__title">Complex preparation for English UPE</h1>
                <p class="hero__text"><span class="hero__text--grey">It won’t be easy.</span>
                    <span class="hero__text--nowrap">But you’re guaranteed to get</span>
                    <span class="hero__text--accent">+25 points</span>
                </p>
            </div>
            <a href="#Contacts" class="hero__button js-scroll">I want a free lesson</a>
        </div>
        <img srcset="
                                ./images/hero/mob/mob-image-1x.png 208w, 
                                ./images/hero/mob/mob-image-2x.png 416w,
                                ./images/hero/tab/tab-image-1x.png 370w, 
                                ./images/hero/tab/tab-image-2x.png 740w,
                                ./images/hero/desk/desk-image-1x.png 842w, 
                                ./images/hero/desk/desk-image-2x.png 1684w"
            sizes="(min-width: 1366px) 842px, (min-width: 768px) 370px, (max-width: 767px) 208px"
            src="./images/hero/mob/mob-image-1x.png" alt="work" class="hero__img">
    </div>
</section>