<section class="features">
  <div class="container">
    <h2 class="features__title section__title" id="features">How do we do it</h2>
    <ul class="features__list card-set">
      <li class="features__item card-item">
        <a href="/" class="features__link">
          <svg class="features__icon" width="55" height="55">
            <use href="/images/sprite/sprite.svg#icon-study-program"></use>
          </svg>
          <h3 class="features__subject">Adapted program preparation for UPE</h3>
          <!-- <span class="features__space">—</span> -->
          <p class="features__subtitle">
            You will learn grammar and vocabulary at the same time. And you will learn how to write
            essays.
          </p>
        </a>
      </li>
      <li class="features__item card-item">
        <a href="/" class="features__link">
          <svg class="features__icon" width="55" height="55">
            <use href="/images/sprite/sprite.svg#icon-mobile-learning"></use>
          </svg>
          <h3 class="features__subject">
            Classroom and online <span class="row-br">learning</span>
          </h3>
          <!-- <span class="features__space">—</span> -->
          <p class="features__subtitle">
            The teacher will help not only in the classroom, but also during home preparation.
            Parents can chat if they wish.
          </p>
        </a>
      </li>
      <li class="features__item card-item">
        <a href="/" class="features__link">
          <svg class="features__icon" width="55" height="55">
            <use href="/images/sprite/sprite.svg#icon-open-book"></use>
          </svg>
          <h3 class="features__subject">The habit of reading in English</h3>
          <!-- <span class="features__space">—</span> -->
          <p class="features__subtitle">
            Articles from sources that are used in the development of this UPE will be received by
            phone twice a week.
          </p>
        </a>
      </li>
      <li class="features__item card-item">
        <a href="/" class="features__link">
          <svg class="features__icon" width="55" height="55">
            <use href="/images/sprite/sprite.svg#icon-union"></use>
          </svg>
          <h3 class="features__subject"><span class="row-br">Psychological</span>support</h3>
          <!-- <span class="features__space">—</span> -->
          <p class="features__subtitle">
            We will teach you testing techniques, the ability to plan your confidence training in
            itself.
          </p></a
        >
      </li>
      <li class="features__item card-item">
        <a href="/" class="features__link">
          <svg class="features__icon" width="55" height="55">
            <use href="/images/sprite/sprite.svg#icon-female-student"></use>
          </svg>
          <h3 class="features__subject">Training on copyright manuals</h3>
          <!-- <span class="features__space">—</span> -->
          <p class="features__subtitle">
            You don't have to waste your time on a search for material and to buy anything extra. We
            have compiled 2 manuals for you.
          </p>
        </a>
      </li>
      <li class="features__item card-item">
        <a href="/" class="features__link">
          <svg class="features__icon" width="55" height="55">
            <use href="/images/sprite/sprite.svg#icon-audio-book"></use>
          </svg>
          <h3 class="features__subject">Ability to comprehend spoken English</h3>
          <!-- <span class="features__space">—</span> -->
          <p class="features__subtitle">
            “F.R.I.E.N.D.S” won't help you. You will listen regularly and analyze audio recordings
            in accordance with the studied vocabulary.
          </p>
        </a>
      </li>
    </ul>
  </div>
</section>
