<section class="problems">
    <div class="container">
        <h2 class="problems__title">The main problems of students
            in English UPE, which
            we <span class="problems__accent">help</span> to solve</h2>
        <ul class="problems__list card-set">
            <li class="problems__item card-item">Grammar</li>
            <li class="problems__item card-item">Inability to understand spoken English</li>
            <li class="problems__item card-item">Stingy vocabulary for writing an essay</li>
            <li class="problems__item card-item">Preparing alone</li>
            <li class="problems__item card-item">Lack of a single knowledge resource</li>
            <li class="problems__item card-item">Lack of self-organization and laziness</li>
        </ul>
    </div>
</section>