<section class="program" id="program">
  <div class="container">
    <h3 class="program__title">Our program</h3>
    <ul class="program__list">
      <li class="program__item">
        <div class="program__wrap">
          1 semester
          <ul class="program__sublist">
            <li class="program__subitem">
              <span class="program__subitem--span">Grammar</span>
              <ul class="program__sublist-grammar">
                <li class="program__subitem-grammar">
                  <p>Nouns & Articles</p>
                </li>
                <li class="program__subitem-grammar">
                  <p>Adjectives & Adverb</p>
                </li>
              </ul>
            </li>
            <li class="program__subitem">
              <span class="program__subitem--span">Vocabulary</span>
              <ul class="program__sublist-vocabulary">
                <li class="program__subitem-vocabulary">Family & Relations</li>
                <li class="program__subitem-vocabulary">People & Society</li>
              </ul>
            </li>
          </ul>
        </div>
      </li>
      <li class="program__item">
        <div class="program__wrap">
          2 semester
          <ul class="program__sublist">
            <li class="program__subitem">
              <span class="program__subitem--span">Grammar</span>
              <ul class="program__sublist-grammar">
                <li class="program__subitem-grammar">Pronouns</li>
                <li class="program__subitem-grammar">Active Voice</li>
                <li class="program__subitem-grammar">Passive Voice</li>
              </ul>
            </li>
            <li class="program__subitem">
              <span class="program__subitem--span">Vocabulary</span>
              <ul class="program__sublist-vocabulary">
                <li class="program__subitem-vocabulary">Home</li>
                <li class="program__subitem-vocabulary">School</li>
                <li class="program__subitem-vocabulary">Work</li>
              </ul>
            </li>
          </ul>
        </div>
      </li>
      <li class="program__item">
        <div class="program__wrap">
          3 semester
          <ul class="program__sublist">
            <li class="program__subitem">
              <span class="program__subitem--span">Grammar</span>
              <ul class="program__sublist-grammar">
                <li class="program__subitem-grammar">Modal verbs</li>
                <li class="program__subitem-grammar">Infinitive</li>
                <li class="program__subitem-grammar">Gerund</li>
                <li class="program__subitem-grammar">Participle: 1, 2</li>
              </ul>
            </li>
            <li class="program__subitem">
              <span class="program__subitem--span">Vocabulary</span>
              <ul class="program__sublist-vocabulary">
                <li class="program__subitem-vocabulary">Travel & Tourism</li>
                <li class="program__subitem-vocabulary">Culture & Free Time</li>
                <li class="program__subitem-vocabulary">Sport</li>
              </ul>
            <li class="program__subitem">
              <span class="program__subitem--span">Writing</span>
              <ul class="program__sublist-writing">
                <li class="program__subitem-writing">Informal Letter</li>
              </ul>
            </li>
          </ul>
        </div>
      </li>
      <li class="program__item">
        <div class="program__wrap">
          4 semester
          <ul class="program__sublist">
            <li class="program__subitem">
              <span class="program__subitem--span">Grammar</span>
              <ul class="program__sublist-grammar">
                <li class="program__subitem-grammar">Clauses: Conditional and Wishes</li>
                <li class="program__subitem-grammar">Direct / Reported speech</li>
                <li class="program__subitem-grammar">Preposition</li>
                <li class="program__subitem-grammar">Conjunction</li>
                <li class="program__subitem-grammar">Numeral</li>
              </ul>
            </li>

            <li class="program__subitem">
              <span class="program__subitem--span">Vocabulary</span>
              <ul class="program__sublist-vocabulary">
                <li class="program__subitem-vocabulary">Healthy Living</li>
                <li class="program__subitem-vocabulary">Nature & Environment</li>
                <li class="program__subitem-vocabulary">Money</li>
              </ul>
            </li>
            <li class="program__subitem">
              <span class="program__subitem--span">Writing</span>
              <ul class="program__sublist-writing">
                <li class="program__subitem-writing">Formal Letter</li>
              </ul>
            </li>
          </ul>
        </div>
      </li>
      <li class="program__item">
        <div class="program__wrap">
          5 semester
          <ul class="program__sublist">
            <li class="program__subitem">
              <span class="program__subitem--span program__subitem--last"></span>
              <ul class="program__sublist-dash">
                <li class="program__subitem-dash">Revision</li>
                <li class="program__subitem-dash">Tests</li>
              </ul>
            </li>
          </ul>
        </div>
      </li>

    </ul>
  </div>
</section>