<section class="reviews">
  <div class="reviews__container container">
    <div class="reviews__wrap">
      <h2 class="reviews__title">Feedback from graduates</h2>
      <div class="slider slider-for">
        <div>
          <ul class="reviews__list">
            <li class="reviews__item">
              <div class="reviews__left">
                <div class="reviews__avatar">
                  <picture>
                    <source
                      srcset="
                        /images/reviews/desk-tab/desk-1avatar-big1x.webp 1x,
                        /images/reviews/desk-tab/desk-1avatar-big2x.webp 2x
                      "
                      media="(min-width:768px)"
                      type="image/webp"
                    />
                    <source
                      srcset="
                        /images/reviews/desk-tab/desk-1avatar-big1x.jpg 1x,
                        /images/reviews/desk-tab/desk-1avatar-big2x.jpg 2x
                      "
                      media="(min-width:768px)"
                      type="image/jpeg"
                    />

                    <source
                      srcset="
                        /images/reviews/mob/mob-1avatar-1x.webp 1x,
                        /images/reviews/mob/mob-1avatar-2x.webp 2x
                      "
                      media="(max-width:767px)"
                      type="image/webp"
                    />
                    <source
                      srcset="
                        /images/reviews/mob/mob-1avatar-1x.jpg 1x,
                        /images/reviews/mob/mob-1avatar-2x.jpg 2x
                      "
                      media="(max-width:767px)"
                      type="image/jpeg"
                    />
                    <img src="/images/reviews/mob/mob-1avatar-1x.jpg " alt="абитуриент" />
                  </picture>
                </div>
                <a href="#">
                  <svg class="reviews__social">
                    <use href="/images/sprite/sprite.svg#icon-desk-tab-mob-facebook"></use>
                  </svg>
                </a>
              </div>
              <div class="reviews__right">
                <h3 class="reviews__name">Tonya Kucherovskaya</h3>
                <p class="reviews__course">
                  Graduated from 2015, National University of Bioresources and natural history of
                  Ukraine
                </p>
                <p class="reviews__text">
                  In a short time with Elena, I mastered grammar and replenished my completely empty
                  vocabulary. From the first lesson I realized that I was on my plate. Elena and I
                  became friends because she was really worried about my success. She became an
                  authority for me, but I did not tremble in class, fearing to make the slightest
                  mistake. Now I can brag that I'm student ...
                  <a href="" class="reviews__more">Read more</a>
                </p>
              </div>
            </li>
          </ul>
        </div>
        <div>
          <ul class="reviews__list">
            <li class="reviews__item">
              <div class="reviews__left">
                <div class="reviews__avatar">
                  <picture>
                    <source
                      srcset="
                        /images/reviews/desk-tab/desk-2avatar-big1x.webp 1x,
                        /images/reviews/desk-tab/desk-2avatar-big2x.webp 2x
                      "
                      media="(min-width:768px)"
                      type="image/webp"
                    />
                    <source
                      srcset="
                        /images/reviews/desk-tab/desk-2avatar-big1x.jpg 1x,
                        /images/reviews/desk-tab/desk-2avatar-big2x.jpg 2x
                      "
                      media="(min-width:768px)"
                      type="image/jpeg"
                    />

                    <source
                      srcset="
                        /images/reviews/mob/mob-2avatar-1x.webp 1x,
                        /images/reviews/mob/mob-2avatar-2x.webp 2x
                      "
                      media="(max-width:767px)"
                      type="image/webp"
                    />
                    <source
                      srcset="
                        /images/reviews/mob/mob-2avatar-1x.jpg 1x,
                        /images/reviews/mob/mob-2avatar-2x.jpg 2x
                      "
                      media="(max-width:767px)"
                      type="image/jpeg"
                    />
                    <img src="/images/reviews/mob/mob-2avatar-1x.jpg " alt="абитуриент" />
                  </picture>
                </div>
                <a href="#">
                  <svg class="reviews__social">
                    <use href="/images/sprite/sprite.svg#icon-desk-tab-mob-facebook"></use>
                  </svg>
                </a>
              </div>
              <div class="reviews__right">
                <h3 class="reviews__name">Victoria Solodova</h3>
                <p class="reviews__course">
                  Graduated from 2015, National University of Bioresources and natural history of
                  Ukraine
                </p>
                <p class="reviews__text">
                  Trained at school. For me it was a real breakthrough in learning English. Due to
                  the fact that all the material was practiced with native speakers, even complex
                  words and phrases were memorized on the fly. I will definitely sign up for
                  Advanced courses in the near future, given how easy the material comes in, I am
                  sure that I will soon reach an advanced level of language proficiency. ...
                  <a href="" class="reviews__more">Read more</a>
                </p>
              </div>
            </li>
          </ul>
        </div>
        <div>
          <ul class="reviews__list">
            <li class="reviews__item">
              <div class="reviews__left">
                <div class="reviews__avatar">
                  <picture>
                    <source
                      srcset="
                        /images/reviews/desk-tab/desk-3avatar-big1x.webp 1x,
                        /images/reviews/desk-tab/desk-3avatar-big2x.webp 2x
                      "
                      media="(min-width:768px)"
                      type="image/webp"
                    />
                    <source
                      srcset="
                        /images/reviews/desk-tab/desk-3avatar-big1x.jpg 1x,
                        /images/reviews/desk-tab/desk-3avatar-big2x.jpg 2x
                      "
                      media="(min-width:768px)"
                      type="image/jpeg"
                    />

                    <source
                      srcset="
                        /images/reviews/mob/mob-3avatar-1x.webp 1x,
                        /images/reviews/mob/mob-3avatar-2x.webp 2x
                      "
                      media="(max-width:767px)"
                      type="image/webp"
                    />
                    <source
                      srcset="
                        /images/reviews/mob/mob-3avatar-1x.jpg 1x,
                        /images/reviews/mob/mob-3avatar-2x.jpg 2x
                      "
                      media="(max-width:767px)"
                      type="image/jpeg"
                    />
                    <img src="/images/reviews/mob/mob-3avatar-1x.jpg " alt="абитуриент" />
                  </picture>
                </div>
                <a href="#">
                  <svg class="reviews__social">
                    <use href="/images/sprite/sprite.svg#icon-desk-tab-mob-facebook"></use>
                  </svg>
                </a>
              </div>
              <div class="reviews__right">
                <h3 class="reviews__name">Anna Zavyalova</h3>
                <p class="reviews__course">
                  Graduated from 2015, National University of Bioresources and natural history of
                  Ukraine
                </p>
                <p class="reviews__text">
                  Completed a conversational English course at Oxford School. The course has
                  competent teachers who know how to present the material so that it is easy to
                  remember, even very intricate speech turns. I worked out phrasal verbs and idioms
                  with native speakers who explained their meaning in detail and clearly and in what
                  situations it is appropriate to use them. I express my gratitude to Oxford School,
                  thanks to your methodology, I made a very big step forward in learning English...
                  ...
                  <a href="" class="reviews__more">Read more</a>
                </p>
              </div>
            </li>
          </ul>
        </div>
        <div>
          <ul class="reviews__list">
            <li class="reviews__item">
              <div class="reviews__left">
                <div class="reviews__avatar">
                  <picture>
                    <source
                      srcset="
                        /images/reviews/desk-tab/desk-4avatar-big1x.webp 1x,
                        /images/reviews/desk-tab/desk-4avatar-big2x.webp 2x
                      "
                      media="(min-width:768px)"
                      type="image/webp"
                    />
                    <source
                      srcset="
                        /images/reviews/desk-tab/desk-4avatar-big1x.jpg 1x,
                        /images/reviews/desk-tab/desk-4avatar-big2x.jpg 2x
                      "
                      media="(min-width:768px)"
                      type="image/jpeg"
                    />

                    <source
                      srcset="
                        /images/reviews/mob/mob-4avatar-1x.webp 1x,
                        /images/reviews/mob/mob-4avatar-2x.webp 2x
                      "
                      media="(max-width:767px)"
                      type="image/webp"
                    />
                    <source
                      srcset="
                        /images/reviews/mob/mob-4avatar-1x.jpg 1x,
                        /images/reviews/mob/mob-4avatar-2x.jpg 2x
                      "
                      media="(max-width:767px)"
                      type="image/jpeg"
                    />
                    <img src="/images/reviews/mob/mob-4avatar-1x.jpg " alt="абитуриент" />
                  </picture>
                </div>
                <a href="#">
                  <svg class="reviews__social">
                    <use href="/images/sprite/sprite.svg#icon-desk-tab-mob-facebook"></use>
                  </svg>
                </a>
              </div>
              <div class="reviews__right">
                <h3 class="reviews__name">Ekaterina Ivanishina</h3>
                <p class="reviews__course">
                  Graduated from 2015, National University of Bioresources and natural history of
                  Ukraine
                </p>
                <p class="reviews__text">
                  nsanely good teachers, young, able to find a common language and correctly present
                  and explain the material, the price is quite low. I want to note Anastasia
                  Dubovytska, a master of her craft, instilled a love for the English language ...
                  <a href="" class="reviews__more">Read more</a>
                </p>
              </div>
            </li>
          </ul>
        </div>
        <div>
          <ul class="reviews__list">
            <li class="reviews__item">
              <div class="reviews__left">
                <div class="reviews__avatar">
                  <picture>
                    <source
                      srcset="
                        /images/reviews/desk-tab/desk-5avatar-big1x.webp 1x,
                        /images/reviews/desk-tab/desk-5avatar-big2x.webp 2x
                      "
                      media="(min-width:768px)"
                      type="image/webp"
                    />
                    <source
                      srcset="
                        /images/reviews/desk-tab/desk-5avatar-big1x.jpg 1x,
                        /images/reviews/desk-tab/desk-5avatar-big2x.jpg 2x
                      "
                      media="(min-width:768px)"
                      type="image/jpeg"
                    />

                    <source
                      srcset="
                        /images/reviews/mob/mob-5avatar-1x.webp 1x,
                        /images/reviews/mob/mob-5avatar-2x.webp 2x
                      "
                      media="(max-width:767px)"
                      type="image/webp"
                    />
                    <source
                      srcset="
                        /images/reviews/mob/mob-5avatar-1x.jpg 1x,
                        /images/reviews/mob/mob-5avatar-2x.jpg 2x
                      "
                      media="(max-width:767px)"
                      type="image/jpeg"
                    />
                    <img src="/images/reviews/mob/mob-5avatar-1x.jpg " alt="абитуриент" />
                  </picture>
                </div>
                <a href="#">
                  <svg class="reviews__social">
                    <use href="/images/sprite/sprite.svg#icon-desk-tab-mob-facebook"></use>
                  </svg>
                </a>
              </div>
              <div class="reviews__right">
                <h3 class="reviews__name">Katya Topchy</h3>
                <p class="reviews__course">
                  Graduated from 2015, National University of Bioresources and natural history of
                  Ukraine
                </p>
                <p class="reviews__text">
                  I studied at the school in Poznyaki already 3 years ago. 2 courses here. There was
                  a lot of English in my life: school, tutors, online classes, courses abroad. But
                  it was in Oxford School that I fell in love with English with all my heart.
                  School, university, tutors did not give me such a cool base as here. I,
                  unfortunately, do not remember the names of the teachers, but I ...
                  <a href="" class="reviews__more">Read more</a>
                </p>
              </div>
            </li>
          </ul>
        </div>
        <div>
          <ul class="reviews__list">
            <li class="reviews__item">
              <div class="reviews__left">
                <div class="reviews__avatar">
                  <picture>
                    <source
                      srcset="
                        /images/reviews/desk-tab/desk-6avatar-big1x.webp 1x,
                        /images/reviews/desk-tab/desk-6avatar-big2x.webp 2x
                      "
                      media="(min-width:768px)"
                      type="image/webp"
                    />
                    <source
                      srcset="
                        /images/reviews/desk-tab/desk-6avatar-big1x.jpg 1x,
                        /images/reviews/desk-tab/desk-6avatar-big2x.jpg 2x
                      "
                      media="(min-width:768px)"
                      type="image/jpeg"
                    />

                    <source
                      srcset="
                        /images/reviews/mob/mob-6avatar-1x.webp 1x,
                        /images/reviews/mob/mob-6avatar-2x.webp 2x
                      "
                      media="(max-width:767px)"
                      type="image/webp"
                    />
                    <source
                      srcset="
                        /images/reviews/mob/mob-6avatar-1x.jpg 1x,
                        /images/reviews/mob/mob-6avatar-2x.jpg 2x
                      "
                      media="(max-width:767px)"
                      type="image/jpeg"
                    />
                    <img src="/images/reviews/mob/mob-6avatar-1x.jpg " alt="абитуриент" />
                  </picture>
                </div>
                <a href="#">
                  <svg class="reviews__social">
                    <use href="/images/sprite/sprite.svg#icon-desk-tab-mob-facebook"></use>
                  </svg>
                </a>
              </div>
              <div class="reviews__right">
                <h3 class="reviews__name">Inna Grytsyuk</h3>
                <p class="reviews__course">
                  Graduated from 2015, National University of Bioresources and natural history of
                  Ukraine
                </p>
                <p class="reviews__text">
                  I studied in the summer on a conversational course at the school at the metro
                  station. Palace of Sports at the teacher Valentina. I liked the course very much,
                  the teacher did not deprive anyone of the group of attention. The material in the
                  classes was modern and interesting, they took a lot of games and interactive
                  tasks. Didn't get bored in class! I hope to get to the same teacher next summer,
                  since during the sum ...
                  <a href="" class="reviews__more">Read more</a>
                </p>
              </div>
            </li>
          </ul>
        </div>
        <div>
          <ul class="reviews__list">
            <li class="reviews__item">
              <div class="reviews__left">
                <div class="reviews__avatar">
                  <picture>
                    <source
                      srcset="
                        /images/reviews/desk-tab/desk-7avatar-big1x.webp 1x,
                        /images/reviews/desk-tab/desk-7avatar-big2x.webp 2x
                      "
                      media="(min-width:768px)"
                      type="image/webp"
                    />
                    <source
                      srcset="
                        /images/reviews/desk-tab/desk-7avatar-big1x.jpg 1x,
                        /images/reviews/desk-tab/desk-7avatar-big2x.jpg 2x
                      "
                      media="(min-width:768px)"
                      type="image/jpeg"
                    />

                    <source
                      srcset="
                        /images/reviews/mob/mob-7avatar-1x.webp 1x,
                        /images/reviews/mob/mob-7avatar-2x.webp 2x
                      "
                      media="(max-width:767px)"
                      type="image/webp"
                    />
                    <source
                      srcset="
                        /images/reviews/mob/mob-7avatar-1x.jpg 1x,
                        /images/reviews/mob/mob-7avatar-2x.jpg 2x
                      "
                      media="(max-width:767px)"
                      type="image/jpeg"
                    />
                    <img src="/images/reviews/mob/mob-7avatar-1x.jpg " alt="абитуриент" />
                  </picture>
                </div>
                <a href="#">
                  <svg class="reviews__social">
                    <use href="/images/sprite/sprite.svg#icon-desk-tab-mob-facebook"></use>
                  </svg>
                </a>
              </div>
              <div class="reviews__right">
                <h3 class="reviews__name">Valentina Ivanovna</h3>
                <p class="reviews__course">
                  Graduated from 2015, National University of Bioresources and natural history of
                  Ukraine
                </p>
                <p class="reviews__text">
                  I got acquainted with this school thanks to previous work, a teacher from Oxford
                  School came to us and gave lectures on business English. After changing jobs, I
                  wanted to continue my studies and now I continue to study with the same teacher,
                  but individually. I practice on Saturdays, for me this is the most convenient
                  option. I want to thank the school and its teachers and wish prosperity and even
                  more students ...
                  <a href="" class="reviews__more">Read more</a>
                </p>
              </div>
            </li>
          </ul>
        </div>
        <div>
          <ul class="reviews__list">
            <li class="reviews__item">
              <div class="reviews__left">
                <div class="reviews__avatar">
                  <picture>
                    <source
                      srcset="
                        /images/reviews/desk-tab/desk-4avatar-big1x.webp 1x,
                        /images/reviews/desk-tab/desk-4avatar-big2x.webp 2x
                      "
                      media="(min-width:768px)"
                      type="image/webp"
                    />
                    <source
                      srcset="
                        /images/reviews/desk-tab/desk-4avatar-big1x.jpg 1x,
                        /images/reviews/desk-tab/desk-4avatar-big2x.jpg 2x
                      "
                      media="(min-width:768px)"
                      type="image/jpeg"
                    />

                    <source
                      srcset="
                        /images/reviews/mob/mob-4avatar-1x.webp 1x,
                        /images/reviews/mob/mob-4avatar-2x.webp 2x
                      "
                      media="(max-width:767px)"
                      type="image/webp"
                    />
                    <source
                      srcset="
                        /images/reviews/mob/mob-4avatar-1x.jpg 1x,
                        /images/reviews/mob/mob-4avatar-2x.jpg 2x
                      "
                      media="(max-width:767px)"
                      type="image/jpeg"
                    />
                    <img src="/images/reviews/mob/mob-4avatar-1x.jpg " alt="абитуриент" />
                  </picture>
                </div>
                <a href="#">
                  <svg class="reviews__social">
                    <use href="/images/sprite/sprite.svg#icon-desk-tab-mob-facebook"></use>
                  </svg>
                </a>
              </div>
              <div class="reviews__right">
                <h3 class="reviews__name">Elena Markova</h3>
                <p class="reviews__course">
                  Graduated from 2015, National University of Bioresources and natural history of
                  Ukraine
                </p>
                <p class="reviews__text">
                  My daughter went through all the levels here. We started studying at the age of 10
                  and, according to the indicators at the school, I can say that the result is very
                  good, much better than from a private tutor, with whom I studied before I learned
                  about Oxford School. During the training period, teachers changed a couple of
                  times, as I understand it - different teachers lead different levels. As for me,
                  this is a plus, children do not get ...
                  <a href="" class="reviews__more">Read more</a>
                </p>
              </div>
            </li>
          </ul>
        </div>
      </div>

      <div class="reviews__click slider-nav">
        <div class="reviews__frame">
          <picture>
            <source
              srcset="
                /images/reviews/desk-tab/desk-1avatar-small1x.webp 1x,
                /images/reviews/desk-tab/desk-1avatar-small2x.webp 2x
              "
              media="(min-width:768px)"
              type="image/webp"
            />
            <source
              srcset="
                /images/reviews/desk-tab/desk-1avatar-small1x.jpg 1x,
                /images/reviews/desk-tab/desk-1avatar-small2x.jpg 2x
              "
              media="(min-width:768px)"
              type="image/jpeg"
            />

            <source
              srcset="
                /images/reviews/desk-tab/desk-1avatar-small1x.webp 1x,
                /images/reviews/desk-tab/desk-1avatar-small2x.webp 2x
              "
              media="(max-width:767px)"
              type="image/webp"
            />
            <source
              srcset="
                /images/reviews/desk-tab/desk-1avatar-small1x.jpg 1x,
                /images/reviews/desk-tab/desk-1avatar-small2x.jpg 2x
              "
              media="(max-width:767px)"
              type="image/jpeg"
            />
            <img src="/images/reviews/desk-tab/desk-1avatar-small1x.jpg " alt="абитуриент" />
          </picture>
        </div>
        <div class="reviews__frame">
          <picture>
            <source
              srcset="
                /images/reviews/desk-tab/desk-2avatar-small1x.webp 1x,
                /images/reviews/desk-tab/desk-2avatar-small2x.webp 2x
              "
              media="(min-width:768px)"
              type="image/webp"
            />
            <source
              srcset="
                /images/reviews/desk-tab/desk-2avatar-small1x.jpg 1x,
                /images/reviews/desk-tab/desk-2avatar-small2x.jpg 2x
              "
              media="(min-width:768px)"
              type="image/jpeg"
            />

            <source
              srcset="
                /images/reviews/desk-tab/desk-2avatar-small1x.webp 1x,
                /images/reviews/desk-tab/desk-2avatar-small2x.webp 2x
              "
              media="(max-width:767px)"
              type="image/webp"
            />
            <source
              srcset="
                /images/reviews/desk-tab/desk-2avatar-small1x.jpg 1x,
                /images/reviews/desk-tab/desk-2avatar-small2x.jpg 2x
              "
              media="(max-width:767px)"
              type="image/jpeg"
            />
            <img src="/images/reviews/desk-tab/desk-2avatar-small1x.jpg " alt="абитуриент" />
          </picture>
        </div>
        <div class="reviews__frame">
          <picture>
            <source
              srcset="
                /images/reviews/desk-tab/desk-3avatar-small1x.webp 1x,
                /images/reviews/desk-tab/desk-3avatar-small2x.webp 2x
              "
              media="(min-width:768px)"
              type="image/webp"
            />
            <source
              srcset="
                /images/reviews/desk-tab/desk-3avatar-small1x.jpg 1x,
                /images/reviews/desk-tab/desk-3avatar-small2x.jpg 2x
              "
              media="(min-width:768px)"
              type="image/jpeg"
            />

            <source
              srcset="
                /images/reviews/desk-tab/desk-3avatar-small1x.webp 1x,
                /images/reviews/desk-tab/desk-3avatar-small2x.webp 2x
              "
              media="(max-width:767px)"
              type="image/webp"
            />
            <source
              srcset="
                /images/reviews/desk-tab/desk-3avatar-small1x.jpg 1x,
                /images/reviews/desk-tab/desk-3avatar-small2x.jpg 2x
              "
              media="(max-width:767px)"
              type="image/jpeg"
            />
            <img src="/images/reviews/desk-tab/desk-3avatar-small1x.jpg " alt="абитуриент" />
          </picture>
        </div>
        <div class="reviews__frame">
          <picture>
            <source
              srcset="
                /images/reviews/desk-tab/desk-4avatar-small1x.webp 1x,
                /images/reviews/desk-tab/desk-4avatar-small2x.webp 2x
              "
              media="(min-width:768px)"
              type="image/webp"
            />
            <source
              srcset="
                /images/reviews/desk-tab/desk-4avatar-small1x.jpg 1x,
                /images/reviews/desk-tab/desk-4avatar-small2x.jpg 2x
              "
              media="(min-width:768px)"
              type="image/jpeg"
            />

            <source
              srcset="
                /images/reviews/desk-tab/desk-4avatar-small1x.webp 1x,
                /images/reviews/desk-tab/desk-4avatar-small2x.webp 2x
              "
              media="(max-width:767px)"
              type="image/webp"
            />
            <source
              srcset="
                /images/reviews/desk-tab/desk-4avatar-small1x.jpg 1x,
                /images/reviews/desk-tab/desk-4avatar-small2x.jpg 2x
              "
              media="(max-width:767px)"
              type="image/jpeg"
            />
            <img src="/images/reviews/desk-tab/desk-4avatar-small1x.jpg " alt="абитуриент" />
          </picture>
        </div>
        <div class="reviews__frame">
          <picture>
            <source
              srcset="
                /images/reviews/desk-tab/desk-5avatar-small1x.webp 1x,
                /images/reviews/desk-tab/desk-5avatar-small2x.webp 2x
              "
              media="(min-width:768px)"
              type="image/webp"
            />
            <source
              srcset="
                /images/reviews/desk-tab/desk-5avatar-small1x.jpg 1x,
                /images/reviews/desk-tab/desk-5avatar-small2x.jpg 2x
              "
              media="(min-width:768px)"
              type="image/jpeg"
            />

            <source
              srcset="
                /images/reviews/desk-tab/desk-5avatar-small1x.webp 1x,
                /images/reviews/desk-tab/desk-5avatar-small2x.webp 2x
              "
              media="(max-width:767px)"
              type="image/webp"
            />
            <source
              srcset="
                /images/reviews/desk-tab/desk-5avatar-small1x.jpg 1x,
                /images/reviews/desk-tab/desk-5avatar-small2x.jpg 2x
              "
              media="(max-width:767px)"
              type="image/jpeg"
            />
            <img src="/images/reviews/desk-tab/desk-5avatar-small1x.jpg " alt="абитуриент" />
          </picture>
        </div>
        <div class="reviews__frame">
          <picture>
            <source
              srcset="
                /images/reviews/desk-tab/desk-6avatar-small1x.webp 1x,
                /images/reviews/desk-tab/desk-6avatar-small2x.webp 2x
              "
              media="(min-width:768px)"
              type="image/webp"
            />
            <source
              srcset="
                /images/reviews/desk-tab/desk-6avatar-small1x.jpg 1x,
                /images/reviews/desk-tab/desk-6avatar-small2x.jpg 2x
              "
              media="(min-width:768px)"
              type="image/jpeg"
            />

            <source
              srcset="
                /images/reviews/desk-tab/desk-6avatar-small1x.webp 1x,
                /images/reviews/desk-tab/desk-6avatar-small2x.webp 2x
              "
              media="(max-width:767px)"
              type="image/webp"
            />
            <source
              srcset="
                /images/reviews/desk-tab/desk-6avatar-small1x.jpg 1x,
                /images/reviews/desk-tab/desk-6avatar-small2x.jpg 2x
              "
              media="(max-width:767px)"
              type="image/jpeg"
            />
            <img src="/images/reviews/desk-tab/desk-6avatar-small1x.jpg " alt="абитуриент" />
          </picture>
        </div>
        <div class="reviews__frame">
          <picture>
            <source
              srcset="
                /images/reviews/desk-tab/desk-7avatar-small1x.webp 1x,
                /images/reviews/desk-tab/desk-7avatar-small2x.webp 2x
              "
              media="(min-width:768px)"
              type="image/webp"
            />
            <source
              srcset="
                /images/reviews/desk-tab/desk-7avatar-small1x.jpg 1x,
                /images/reviews/desk-tab/desk-7avatar-small2x.jpg 2x
              "
              media="(min-width:768px)"
              type="image/jpeg"
            />

            <source
              srcset="
                /images/reviews/desk-tab/desk-7avatar-small1x.webp 1x,
                /images/reviews/desk-tab/desk-7avatar-small2x.webp 2x
              "
              media="(max-width:767px)"
              type="image/webp"
            />
            <source
              srcset="
                /images/reviews/desk-tab/desk-7avatar-small1x.jpg 1x,
                /images/reviews/desk-tab/desk-7avatar-small2x.jpg 2x
              "
              media="(max-width:767px)"
              type="image/jpeg"
            />
            <img src="/images/reviews/desk-tab/desk-7avatar-small1x.jpg " alt="абитуриент" />
          </picture>
        </div>
        <div class="reviews__frame">
          <picture>
            <source
              srcset="
                /images/reviews/desk-tab/desk-4avatar-small1x.webp 1x,
                /images/reviews/desk-tab/desk-4avatar-small2x.webp 2x
              "
              media="(min-width:768px)"
              type="image/webp"
            />
            <source
              srcset="
                /images/reviews/desk-tab/desk-4avatar-small1x.jpg 1x,
                /images/reviews/desk-tab/desk-4avatar-small2x.jpg 2x
              "
              media="(min-width:768px)"
              type="image/jpeg"
            />

            <source
              srcset="
                /images/reviews/desk-tab/desk-4avatar-small1x.webp 1x,
                /images/reviews/desk-tab/desk-4avatar-small2x.webp 2x
              "
              media="(max-width:767px)"
              type="image/webp"
            />
            <source
              srcset="
                /images/reviews/desk-tab/desk-4avatar-small1x.jpg 1x,
                /images/reviews/desk-tab/desk-4avatar-small2x.jpg 2x
              "
              media="(max-width:767px)"
              type="image/jpeg"
            />
            <img src="/images/reviews/desk-tab/desk-4avatar-small1x.jpg " alt="абитуриент" />
          </picture>
        </div>
      </div>
    </div>
    <button class="slick-prev-js slick-btn-prev" aria-label="Previous" type="button">
      Previous
    </button>
    <button class="slick-next-js slick-btn-next" aria-label="Next" type="button">Next</button>
  </div>
</section>
