<section class="reviews">
  <div class="reviews__container">
    <div class="reviews__wrap">
      <h2 class="reviews__title section">Feedback from graduates</h2>
      <div class="slider slider-for">
        <div>
          <ul class="reviews__list">
            <li class="reviews__item">
              <div class="reviews__left">
                <div class="reviews__avatar">
                  <picture>
                    <source
                      srcset="
                        /images/reviews/desk-tab/desk-1avatar-big1x.webp 1x
                        /images/reviews/desk-tab/desk-1avatar-big2x.webp 2x
                      "
                      media="(min-width:768px)"
                      type="image/webp"
                    />
                    <source
                      srcset="
                        /images/reviews/desk-tab/desk-1avatar-big1x.jpg 1x,
                        /images/reviews/desk-tab/desk-1avatar-big2x.jpg 2x
                      "
                      media="(min-width:768px)"
                      type="image/jpg"
                    />

                    <source
                      srcset="
                        /images/reviews/mob/mob-1avatar-1x.webp 1x
                        /images/reviews/mob/mob-1avatar-2x.webp 2x
                      "
                      media="(max-width:767px)"
                      type="image/webp"
                    />
                    <source
                      srcset="
                        /images/reviews/mob/mob-1avatar-1x.jpg 1x,
                        /images/reviews/mob/mob-1avatar-2x.jpg 2x
                      "
                      media="(max-width:767px)"
                      type="image/jpg"
                    />
                    <img src="/images/reviews/mob/mob-1avatar-1x.jpg " alt="project1" />
                  </picture>
                </div>
                <a href="#">
                  <svg class="reviews__social">
                    <use href="/images/sprite/sprite.svg#icon-desk-tab-mob-facebook"></use>
                  </svg>
                </a>
              </div>
              <div class="reviews__right">
                <h3 class="reviews__name">Tonya Kucherovskaya</h3>
                <p class="reviews__course">
                  Graduated from 2015, National University of Bioresources and natural history of
                  Ukraine
                </p>
                <p class="reviews__text">
                  In a short time with Elena, I mastered grammar and replenished my completely empty
                  vocabulary. From the first lesson I realized that I was on my plate. Elena and I
                  became friends because she was really worried about my success. She became an
                  authority for me, but I did not tremble in class, fearing to make the slightest
                  mistake. Now I can brag that I'm student ...
                  <a href="" class="reviews__more">Read more</a>
                </p>
              </div>
            </li>
          </ul>
        </div>
        <div>
          <ul class="reviews__list">
            <li class="reviews__item">
              <div class="reviews__left">
                <div class="reviews__avatar">
                  <picture>
                    <source
                      srcset="
                        /images/reviews/desk-tab/desk-2avatar-big1x.webp 1x
                        /images/reviews/desk-tab/desk-2avatar-big2x.webp 2x
                      "
                      media="(min-width:768px)"
                      type="image/webp"
                    />
                    <source
                      srcset="
                        /images/reviews/desk-tab/desk-2avatar-big1x.jpg 1x,
                        /images/reviews/desk-tab/desk-2avatar-big2x.jpg 2x
                      "
                      media="(min-width:768px)"
                      type="image/jpg"
                    />

                    <source
                      srcset="
                        /images/reviews/mob/mob-2avatar-1x.webp 1x
                        /images/reviews/mob/mob-2avatar-2x.webp 2x
                      "
                      media="(max-width:767px)"
                      type="image/webp"
                    />
                    <source
                      srcset="
                        /images/reviews/mob/mob-2avatar-1x.jpg 1x,
                        /images/reviews/mob/mob-2avatar-2x.jpg 2x
                      "
                      media="(max-width:767px)"
                      type="image/jpg"
                    />
                    <img src="/images/reviews/mob/mob-2avatar-1x.jpg " alt="project1" />
                  </picture>
                </div>
                <a href="#">
                  <svg class="reviews__social">
                    <use href="/images/sprite/sprite.svg#icon-desk-tab-mob-facebook"></use>
                  </svg>
                </a>
              </div>
              <div class="reviews__right">
                <h3 class="reviews__name">Tonya Kucherovskaya</h3>
                <p class="reviews__course">
                  Graduated from 2015, National University of Bioresources and natural history of
                  Ukraine
                </p>
                <p class="reviews__text">
                  In a short time with Elena, I mastered grammar and replenished my completely empty
                  vocabulary. From the first lesson I realized that I was on my plate. Elena and I
                  became friends because she was really worried about my success. She became an
                  authority for me, but I did not tremble in class, fearing to make the slightest
                  mistake. Now I can brag that I'm student ...
                  <a href="" class="reviews__more">Read more</a>
                </p>
              </div>
            </li>
          </ul>
        </div>
        <div>
          <ul class="reviews__list">
            <li class="reviews__item">
              <div class="reviews__left">
                <div class="reviews__avatar">
                  <picture>
                    <source
                      srcset="
                        /images/reviews/desk-tab/desk-3avatar-big1x.webp 1x
                        /images/reviews/desk-tab/desk-3avatar-big2x.webp 2x
                      "
                      media="(min-width:768px)"
                      type="image/webp"
                    />
                    <source
                      srcset="
                        /images/reviews/desk-tab/desk-3avatar-big1x.jpg 1x,
                        /images/reviews/desk-tab/desk-3avatar-big2x.jpg 2x
                      "
                      media="(min-width:768px)"
                      type="image/jpg"
                    />

                    <source
                      srcset="
                        /images/reviews/mob/mob-3avatar-1x.webp 1x
                        /images/reviews/mob/mob-3avatar-2x.webp 2x
                      "
                      media="(max-width:767px)"
                      type="image/webp"
                    />
                    <source
                      srcset="
                        /images/reviews/mob/mob-3avatar-1x.jpg 1x,
                        /images/reviews/mob/mob-3avatar-2x.jpg 2x
                      "
                      media="(max-width:767px)"
                      type="image/jpg"
                    />
                    <img src="/images/reviews/mob/mob-3avatar-1x.jpg " alt="project1" />
                  </picture>
                </div>
                <a href="#">
                  <svg class="reviews__social">
                    <use href="/images/sprite/sprite.svg#icon-desk-tab-mob-facebook"></use>
                  </svg>
                </a>
              </div>
              <div class="reviews__right">
                <h3 class="reviews__name">Tonya Kucherovskaya</h3>
                <p class="reviews__course">
                  Graduated from 2015, National University of Bioresources and natural history of
                  Ukraine
                </p>
                <p class="reviews__text">
                  In a short time with Elena, I mastered grammar and replenished my completely empty
                  vocabulary. From the first lesson I realized that I was on my plate. Elena and I
                  became friends because she was really worried about my success. She became an
                  authority for me, but I did not tremble in class, fearing to make the slightest
                  mistake. Now I can brag that I'm student ...
                  <a href="" class="reviews__more">Read more</a>
                </p>
              </div>
            </li>
          </ul>
        </div>
        <div>
          <ul class="reviews__list">
            <li class="reviews__item">
              <div class="reviews__left">
                <div class="reviews__avatar">
                  <picture>
                    <source
                      srcset="
                        /images/reviews/desk-tab/desk-4avatar-big1x.webp 1x
                        /images/reviews/desk-tab/desk-4avatar-big2x.webp 2x
                      "
                      media="(min-width:768px)"
                      type="image/webp"
                    />
                    <source
                      srcset="
                        /images/reviews/desk-tab/desk-4avatar-big1x.jpg 1x,
                        /images/reviews/desk-tab/desk-4avatar-big2x.jpg 2x
                      "
                      media="(min-width:768px)"
                      type="image/jpg"
                    />

                    <source
                      srcset="
                        /images/reviews/mob/mob-4avatar-1x.webp 1x
                        /images/reviews/mob/mob-4avatar-2x.webp 2x
                      "
                      media="(max-width:767px)"
                      type="image/webp"
                    />
                    <source
                      srcset="
                        /images/reviews/mob/mob-4avatar-1x.jpg 1x,
                        /images/reviews/mob/mob-4avatar-2x.jpg 2x
                      "
                      media="(max-width:767px)"
                      type="image/jpg"
                    />
                    <img src="/images/reviews/mob/mob-4avatar-1x.jpg " alt="project1" />
                  </picture>
                </div>
                <a href="#">
                  <svg class="reviews__social">
                    <use href="/images/sprite/sprite.svg#icon-desk-tab-mob-facebook"></use>
                  </svg>
                </a>
              </div>
              <div class="reviews__right">
                <h3 class="reviews__name">Tonya Kucherovskaya</h3>
                <p class="reviews__course">
                  Graduated from 2015, National University of Bioresources and natural history of
                  Ukraine
                </p>
                <p class="reviews__text">
                  In a short time with Elena, I mastered grammar and replenished my completely empty
                  vocabulary. From the first lesson I realized that I was on my plate. Elena and I
                  became friends because she was really worried about my success. She became an
                  authority for me, but I did not tremble in class, fearing to make the slightest
                  mistake. Now I can brag that I'm student ...
                  <a href="" class="reviews__more">Read more</a>
                </p>
              </div>
            </li>
          </ul>
        </div>
        <div>
          <ul class="reviews__list">
            <li class="reviews__item">
              <div class="reviews__left">
                <div class="reviews__avatar">
                  <picture>
                    <source
                      srcset="
                        /images/reviews/desk-tab/desk-5avatar-big1x.webp 1x
                        /images/reviews/desk-tab/desk-5avatar-big2x.webp 2x
                      "
                      media="(min-width:768px)"
                      type="image/webp"
                    />
                    <source
                      srcset="
                        /images/reviews/desk-tab/desk-5avatar-big1x.jpg 1x,
                        /images/reviews/desk-tab/desk-5avatar-big2x.jpg 2x
                      "
                      media="(min-width:768px)"
                      type="image/jpg"
                    />

                    <source
                      srcset="
                        /images/reviews/mob/mob-5avatar-1x.webp 1x
                        /images/reviews/mob/mob-5avatar-2x.webp 2x
                      "
                      media="(max-width:767px)"
                      type="image/webp"
                    />
                    <source
                      srcset="
                        /images/reviews/mob/mob-5avatar-1x.jpg 1x,
                        /images/reviews/mob/mob-5avatar-2x.jpg 2x
                      "
                      media="(max-width:767px)"
                      type="image/jpg"
                    />
                    <img src="/images/reviews/mob/mob-5avatar-1x.jpg " alt="project1" />
                  </picture>
                </div>
                <a href="#">
                  <svg class="reviews__social">
                    <use href="/images/sprite/sprite.svg#icon-desk-tab-mob-facebook"></use>
                  </svg>
                </a>
              </div>
              <div class="reviews__right">
                <h3 class="reviews__name">Tonya Kucherovskaya</h3>
                <p class="reviews__course">
                  Graduated from 2015, National University of Bioresources and natural history of
                  Ukraine
                </p>
                <p class="reviews__text">
                  In a short time with Elena, I mastered grammar and replenished my completely empty
                  vocabulary. From the first lesson I realized that I was on my plate. Elena and I
                  became friends because she was really worried about my success. She became an
                  authority for me, but I did not tremble in class, fearing to make the slightest
                  mistake. Now I can brag that I'm student ...
                  <a href="" class="reviews__more">Read more</a>
                </p>
              </div>
            </li>
          </ul>
        </div>
        <div>
          <ul class="reviews__list">
            <li class="reviews__item">
              <div class="reviews__left">
                <div class="reviews__avatar">
                  <picture>
                    <source
                      srcset="
                        /images/reviews/desk-tab/desk-6avatar-big1x.webp 1x
                        /images/reviews/desk-tab/desk-6avatar-big2x.webp 2x
                      "
                      media="(min-width:768px)"
                      type="image/webp"
                    />
                    <source
                      srcset="
                        /images/reviews/desk-tab/desk-6avatar-big1x.jpg 1x,
                        /images/reviews/desk-tab/desk-6avatar-big2x.jpg 2x
                      "
                      media="(min-width:768px)"
                      type="image/jpg"
                    />

                    <source
                      srcset="
                        /images/reviews/mob/mob-6avatar-1x.webp 1x
                        /images/reviews/mob/mob-6avatar-2x.webp 2x
                      "
                      media="(max-width:767px)"
                      type="image/webp"
                    />
                    <source
                      srcset="
                        /images/reviews/mob/mob-6avatar-1x.jpg 1x,
                        /images/reviews/mob/mob-6avatar-2x.jpg 2x
                      "
                      media="(max-width:767px)"
                      type="image/jpg"
                    />
                    <img src="/images/reviews/mob/mob-6avatar-1x.jpg " alt="project1" />
                  </picture>
                </div>
                <a href="#">
                  <svg class="reviews__social">
                    <use href="/images/sprite/sprite.svg#icon-desk-tab-mob-facebook"></use>
                  </svg>
                </a>
              </div>
              <div class="reviews__right">
                <h3 class="reviews__name">Tonya Kucherovskaya</h3>
                <p class="reviews__course">
                  Graduated from 2015, National University of Bioresources and natural history of
                  Ukraine
                </p>
                <p class="reviews__text">
                  In a short time with Elena, I mastered grammar and replenished my completely empty
                  vocabulary. From the first lesson I realized that I was on my plate. Elena and I
                  became friends because she was really worried about my success. She became an
                  authority for me, but I did not tremble in class, fearing to make the slightest
                  mistake. Now I can brag that I'm student ...
                  <a href="" class="reviews__more">Read more</a>
                </p>
              </div>
            </li>
          </ul>
        </div>
        <div>
          <ul class="reviews__list">
            <li class="reviews__item">
              <div class="reviews__left">
                <div class="reviews__avatar">
                  <picture>
                    <source
                      srcset="
                        /images/reviews/desk-tab/desk-7avatar-big1x.webp 1x
                        /images/reviews/desk-tab/desk-7avatar-big2x.webp 2x
                      "
                      media="(min-width:768px)"
                      type="image/webp"
                    />
                    <source
                      srcset="
                        /images/reviews/desk-tab/desk-7avatar-big1x.jpg 1x,
                        /images/reviews/desk-tab/desk-7avatar-big2x.jpg 2x
                      "
                      media="(min-width:768px)"
                      type="image/jpg"
                    />

                    <source
                      srcset="
                        /images/reviews/mob/mob-7avatar-1x.webp 1x
                        /images/reviews/mob/mob-7avatar-2x.webp 2x
                      "
                      media="(max-width:767px)"
                      type="image/webp"
                    />
                    <source
                      srcset="
                        /images/reviews/mob/mob-7avatar-1x.jpg 1x,
                        /images/reviews/mob/mob-7avatar-2x.jpg 2x
                      "
                      media="(max-width:767px)"
                      type="image/jpg"
                    />
                    <img src="/images/reviews/mob/mob-7avatar-1x.jpg " alt="project1" />
                  </picture>
                </div>
                <a href="#">
                  <svg class="reviews__social">
                    <use href="/images/sprite/sprite.svg#icon-desk-tab-mob-facebook"></use>
                  </svg>
                </a>
              </div>
              <div class="reviews__right">
                <h3 class="reviews__name">Tonya Kucherovskaya</h3>
                <p class="reviews__course">
                  Graduated from 2015, National University of Bioresources and natural history of
                  Ukraine
                </p>
                <p class="reviews__text">
                  In a short time with Elena, I mastered grammar and replenished my completely empty
                  vocabulary. From the first lesson I realized that I was on my plate. Elena and I
                  became friends because she was really worried about my success. She became an
                  authority for me, but I did not tremble in class, fearing to make the slightest
                  mistake. Now I can brag that I'm student ...
                  <a href="" class="reviews__more">Read more</a>
                </p>
              </div>
            </li>
          </ul>
        </div>
      </div>

      <div class="reviews__click slider-nav">
        <div class="reviews__frame">
          <picture>
            <source
              srcset="
                        /images/reviews/desk-tab/desk-1avatar-small1x.webp 1x
                        /images/reviews/desk-tab/desk-1avatar-small2x.webp 2x
                      "
              media="(min-width:768px)"
              type="image/webp"
            />
            <source
              srcset="
                /images/reviews/desk-tab/desk-1avatar-small1x.jpg 1x,
                /images/reviews/desk-tab/desk-1avatar-small2x.jpg 2x
              "
              media="(min-width:768px)"
              type="image/jpg"
            />

            <source
              srcset="
                        /images/reviews/desk-tab/desk-1avatar-small1x.webp 1x
                        /images/reviews/desk-tab/desk-1avatar-small2x.webp 2x
                      "
              media="(max-width:767px)"
              type="image/webp"
            />
            <source
              srcset="
                /images/reviews/desk-tab/desk-1avatar-small1x.jpg 1x,
                /images/reviews/desk-tab/desk-1avatar-small2x.jpg 2x
              "
              media="(max-width:767px)"
              type="image/jpg"
            />
            <img src="/images/reviews/desk-tab/desk-1avatar-small1x.jpg " alt="project1" />
          </picture>
        </div>
        <div class="reviews__frame">
          <picture>
            <source
              srcset="
                        /images/reviews/desk-tab/desk-2avatar-small1x.webp 1x
                        /images/reviews/desk-tab/desk-2avatar-small2x.webp 2x
                      "
              media="(min-width:768px)"
              type="image/webp"
            />
            <source
              srcset="
                /images/reviews/desk-tab/desk-2avatar-small1x.jpg 1x,
                /images/reviews/desk-tab/desk-2avatar-small2x.jpg 2x
              "
              media="(min-width:768px)"
              type="image/jpg"
            />

            <source
              srcset="
                        /images/reviews/desk-tab/desk-2avatar-small1x.webp 1x
                        /images/reviews/desk-tab/desk-2avatar-small2x.webp 2x
                      "
              media="(max-width:767px)"
              type="image/webp"
            />
            <source
              srcset="
                /images/reviews/desk-tab/desk-2avatar-small1x.jpg 1x,
                /images/reviews/desk-tab/desk-2avatar-small2x.jpg 2x
              "
              media="(max-width:767px)"
              type="image/jpg"
            />
            <img src="/images/reviews/desk-tab/desk-2avatar-small1x.jpg " alt="project1" />
          </picture>
        </div>
        <div class="reviews__frame">
          <picture>
            <source
              srcset="
                        /images/reviews/desk-tab/desk-3avatar-small1x.webp 1x
                        /images/reviews/desk-tab/desk-3avatar-small2x.webp 2x
                      "
              media="(min-width:768px)"
              type="image/webp"
            />
            <source
              srcset="
                /images/reviews/desk-tab/desk-3avatar-small1x.jpg 1x,
                /images/reviews/desk-tab/desk-3avatar-small2x.jpg 2x
              "
              media="(min-width:768px)"
              type="image/jpg"
            />

            <source
              srcset="
                        /images/reviews/desk-tab/desk-3avatar-small1x.webp 1x
                        /images/reviews/desk-tab/desk-3avatar-small2x.webp 2x
                      "
              media="(max-width:767px)"
              type="image/webp"
            />
            <source
              srcset="
                /images/reviews/desk-tab/desk-3avatar-small1x.jpg 1x,
                /images/reviews/desk-tab/desk-3avatar-small2x.jpg 2x
              "
              media="(max-width:767px)"
              type="image/jpg"
            />
            <img src="/images/reviews/desk-tab/desk-3avatar-small1x.jpg " alt="project1" />
          </picture>
        </div>
        <div class="reviews__frame">
          <picture>
            <source
              srcset="
                        /images/reviews/desk-tab/desk-4avatar-small1x.webp 1x
                        /images/reviews/desk-tab/desk-4avatar-small2x.webp 2x
                      "
              media="(min-width:768px)"
              type="image/webp"
            />
            <source
              srcset="
                /images/reviews/desk-tab/desk-4avatar-small1x.jpg 1x,
                /images/reviews/desk-tab/desk-4avatar-small2x.jpg 2x
              "
              media="(min-width:768px)"
              type="image/jpg"
            />

            <source
              srcset="
                        /images/reviews/desk-tab/desk-4avatar-small1x.webp 1x
                        /images/reviews/desk-tab/desk-4avatar-small2x.webp 2x
                      "
              media="(max-width:767px)"
              type="image/webp"
            />
            <source
              srcset="
                /images/reviews/desk-tab/desk-4avatar-small1x.jpg 1x,
                /images/reviews/desk-tab/desk-4avatar-small2x.jpg 2x
              "
              media="(max-width:767px)"
              type="image/jpg"
            />
            <img src="/images/reviews/desk-tab/desk-4avatar-small1x.jpg " alt="project1" />
          </picture>
        </div>
        <div class="reviews__frame">
          <picture>
            <source
              srcset="
                        /images/reviews/desk-tab/desk-5avatar-small1x.webp 1x
                        /images/reviews/desk-tab/desk-5avatar-small2x.webp 2x
                      "
              media="(min-width:768px)"
              type="image/webp"
            />
            <source
              srcset="
                /images/reviews/desk-tab/desk-5avatar-small1x.jpg 1x,
                /images/reviews/desk-tab/desk-5avatar-small2x.jpg 2x
              "
              media="(min-width:768px)"
              type="image/jpg"
            />

            <source
              srcset="
                        /images/reviews/desk-tab/desk-5avatar-small1x.webp 1x
                        /images/reviews/desk-tab/desk-5avatar-small2x.webp 2x
                      "
              media="(max-width:767px)"
              type="image/webp"
            />
            <source
              srcset="
                /images/reviews/desk-tab/desk-5avatar-small1x.jpg 1x,
                /images/reviews/desk-tab/desk-5avatar-small2x.jpg 2x
              "
              media="(max-width:767px)"
              type="image/jpg"
            />
            <img src="/images/reviews/desk-tab/desk-5avatar-small1x.jpg " alt="project1" />
          </picture>
        </div>
        <div class="reviews__frame">
          <picture>
            <source
              srcset="
                        /images/reviews/desk-tab/desk-6avatar-small1x.webp 1x
                        /images/reviews/desk-tab/desk-6avatar-small2x.webp 2x
                      "
              media="(min-width:768px)"
              type="image/webp"
            />
            <source
              srcset="
                /images/reviews/desk-tab/desk-6avatar-small1x.jpg 1x,
                /images/reviews/desk-tab/desk-6avatar-small2x.jpg 2x
              "
              media="(min-width:768px)"
              type="image/jpg"
            />

            <source
              srcset="
                        /images/reviews/desk-tab/desk-6avatar-small1x.webp 1x
                        /images/reviews/desk-tab/desk-6avatar-small2x.webp 2x
                      "
              media="(max-width:767px)"
              type="image/webp"
            />
            <source
              srcset="
                /images/reviews/desk-tab/desk-6avatar-small1x.jpg 1x,
                /images/reviews/desk-tab/desk-6avatar-small2x.jpg 2x
              "
              media="(max-width:767px)"
              type="image/jpg"
            />
            <img src="/images/reviews/desk-tab/desk-6avatar-small1x.jpg " alt="project1" />
          </picture>
        </div>
        <div class="reviews__frame">
          <picture>
            <source
              srcset="
                        /images/reviews/desk-tab/desk-7avatar-small1x.webp 1x
                        /images/reviews/desk-tab/desk-7avatar-small2x.webp 2x
                      "
              media="(min-width:768px)"
              type="image/webp"
            />
            <source
              srcset="
                /images/reviews/desk-tab/desk-7avatar-small1x.jpg 1x,
                /images/reviews/desk-tab/desk-7avatar-small2x.jpg 2x
              "
              media="(min-width:768px)"
              type="image/jpg"
            />

            <source
              srcset="
                        /images/reviews/desk-tab/desk-7avatar-small1x.webp 1x
                        /images/reviews/desk-tab/desk-7avatar-small2x.webp 2x
                      "
              media="(max-width:767px)"
              type="image/webp"
            />
            <source
              srcset="
                /images/reviews/desk-tab/desk-7avatar-small1x.jpg 1x,
                /images/reviews/desk-tab/desk-7avatar-small2x.jpg 2x
              "
              media="(max-width:767px)"
              type="image/jpg"
            />
            <img src="/images/reviews/desk-tab/desk-7avatar-small1x.jpg " alt="project1" />
          </picture>
        </div>
      </div>
    </div>
    <button class="slick-prev-js slick-btn-prev" aria-label="Previous" type="button">
      Previous
    </button>
    <button class="slick-next-js slick-btn-next" aria-label="Next" type="button">Next</button>
  </div>
</section>
