.header__logo {
  z-index: 50;
  width: 128px;
  height: 45px;
  @include mq(mob-only) {
    width: 80px;
    height: 30px;
  }
}

.icon-logo {
  display: block;
  width: 100%;
  height: 100%;
  &__fire {
    fill: $accent-color;
  }

  &__fire--gold {
    fill: #ffd700;
    animation: pulsing 2500ms infinite;
  }
  @keyframes pulsing {
    0% {
      transform: scale(1, 1);
    }
    50% {
      transform: scale(1, 0);
    }
    100% {
      transform: scale(0, 0);
    }
  }
  &__txt-accent {
    fill: $accent-color;
  }
  &__txt-revers {
    fill: $main-text-accent-color;
    transition: fill $transition;
    &.is-open {
      fill: $main-white-color;
    }
  }
}
