.menu-container {
  display: flex;
  justify-content: center;
  position: absolute;

  padding-top: 30px;

  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;

  z-index: 10;

  opacity: 0;
  pointer-events: none;

  background-color: rgba(17, 21, 24, 0.9);
  transition: opacity $transition;

  /*  mobilka */
  /* padding: 30px 20px 20px 20px; */

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
  }

  &__logo {
    width: 128px;
    height: 45px;
    @include mq(mob-only) {
      width: 80px;
      height: 30px;
    }
  }

  @include mq(desk) {
    display: none;
  }

  @include mq(tab-only) {
    display: flex;

    padding-top: 40px;
  }

  &__list {
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;

    @include mq(tab-only) {
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__item {
  }

  &__link {
    font-weight: 800;
    font-size: 20px;
    line-height: 180%;
    letter-spacing: 0.03em;

    color: $main-white-color;

    &:hover,
    &:focus {
      color: $accent-color;
    }
  }

  &__button {
    @include button(260px, 48px, $accent-color, transparent);
    margin: 0 auto;
    padding: 14px 0;

    font-weight: 700;
    font-size: 12px;
    line-height: 1.25;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    @include mq(tab-only) {
      display: none;
    }

    transition: background-color $transition, color $transition;

    &:hover,
    &:focus {
      background-color: $accent-color;
      color: $main-white-color;
    }
  }
}

.navigation__menu-container.is-open {
  opacity: 1;
  overflow: hidden;
  pointer-events: all;
}

.box-menu {
  display: flex;
  flex-direction: column;
  width: 480px;

  @include mq(mob-only) {
    padding: 0 20px;
    padding-top: 54px;
  }
  @include mq(tab-only) {
    width: 768px;
    padding: 0 40px;
  }
}
