.about__title {
  margin-bottom: 30px;
}

.about__image {
  margin-bottom: 20px;
}

.about__subtitle {
  font-weight: 800;
  font-size: 20px;
  line-height: 1.2;
}

.about__profile {
  padding-bottom: 16px;
  border-bottom: 1px solid $secondary-text-color;
  margin-bottom: 20px;
}

.about__list {
  margin-bottom: 42px;
}

.about__item {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.06em;

  &:not(:last-child) {
    margin-bottom: 20px;
  }
}
.about__text {
  margin-bottom: 15px;
}

.about__paragraph {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.6;
  color: $secondary-text-color;

  &:not(:last-child) {
    margin-bottom: 15px;
  }
}

.about__link {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.6;
  color: $accent-color;

  text-decoration: underline;

  &:hover,
  &:focus {
    text-shadow: $accent-color;
  }
}
