.about__title {
  margin-bottom: 30px;
  @include mq(desk) {
    font-size: 46px;
    line-height: 1.3;
  }
}

.about__image {
  margin-bottom: 20px;

  @include mq(tab) {
    margin-right: 42px;
    min-width: 243px;
    width: 100%;
    height: 306px;
    margin-bottom: 0;
  }

  @include mq(desk) {
    margin-right: 61px;
    min-width: 530px;
    width: 100%;
    height: 668px;
  }
}

.about__subtitle {
  padding-bottom: 10px;
  border-bottom: 1px solid $secondary-text-color;
  margin-bottom: 20px;

  @include mq(desk) {
    padding-bottom: 15px;
    margin-bottom: 30px;
  }
}

.about__name {
  font-weight: 800;
  font-size: 20px;
  line-height: 1.2;
  @include mq(desk) {
    font-size: 30px;
    line-height: 1.2;
  }
}

.about__list {
  margin-bottom: 20px;

  @include mq(tab) {
    margin-bottom: 30px;
  }

  @include mq(desk) {
    margin-bottom: 43px;
  }
}

.about__item {
  display: inline-flex;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.06em;

  &:not(:last-child) {
    margin-bottom: 20px;
  }

  @include mq(tab) {
    font-size: 12px;
    line-height: 1.25;
  }
  @include mq(tab) {
    font-size: 16px;
    line-height: 1.25;
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
}

.about__item::before {
  content: '';
  min-width: 18px;
  height: 14px;
  background-size: contain;
  margin-right: 9px;
  background-image: url(../images/about/svg/about_checkbox.svg);

  @include mq(desk) {
    min-width: 25px;
    height: 20px;
  }
}

.about__text::before {
  display: block;
  content: '';
  width: 20px;
  height: 2px;
  background-size: contain;
  margin-bottom: 20px;
  background-image: url(../images/about/svg/rectangle.svg);

  @include mq(tab) {
    margin-bottom: 30px;
  }

  @include mq(desk) {
    margin-bottom: 43px;
  }
}

.about__paragraph {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.6;
  color: $secondary-text-color;
  text-decoration: none;

  &:not(:last-child) {
    margin-bottom: 15px;
  }

  @include mq(tab) {
    font-size: 10px;
    line-height: 2;

    &:last-of-type {
      margin-bottom: 20px;
    }
  }

  @include mq(desk) {
    font-size: 18px;
    line-height: 1.5;

    &:not(:last-child) {
      margin-bottom: 28px;
    }
  }
}

.about__link {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.6;
  color: $accent-color;

  text-decoration: underline;

  &:hover,
  &:focus {
    text-shadow: $accent-color;
  }
  @include mq(desk) {
    font-size: 18px;
    line-height: 1.5;
  }
}

.about__teacher {
  @include mq(tab) {
    display: flex;
  }
}
