.advantages {
  padding-top: 70px;
  padding-bottom: 70px;

  @include mq(tab) {
    padding-top: 70px;
  }

  @include mq(desk) {
    padding-top: 130px;
    padding-bottom: 130px;
  }

  &__list-item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 69px;

    &:not(:last-child) {
      margin-bottom: 30px;
    }

    @include mq(tab) {
      &:not(:last-child) {
        margin-bottom: 0px;
      }
      &:nth-child(n + 2) {
        max-width: 186px;
      }
    }

    @include mq(desk) {
      max-width: 366px;
      &:nth-child(n + 2) {
        max-width: 366px;
      }
    }
  }

  &__list {
    @include mq(tab) {
      display: flex;
      justify-content: space-between;
    }
  }

  &__text {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.64;
    display: flex;
    letter-spacing: 0.08em;
    position: relative;
    max-width: 224px;
    padding: 0px 9px 0px 69px;
    animation: rotate 2000ms 0s linear;

    &:not(:last-child) {
      padding: 8px 9px 8px 69px;
    }

    @include mq(desk) {
      font-size: 20px;
      max-width: 320px;
    }
  }

  &__icon-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
  }
}

.image1-icon::after {
  content: '';
  width: 60px;
  height: 60px;
  background-image: url('/images/advantages/icon-tab-mob-image1.svg');
  background-size: cover;
  position: absolute;
  left: 30px;
  top: 50%;
  transform: translate(-50%, -50%);
  margin-right: auto;

  @include mq(desk) {
    width: 100px;
    height: 100px;
  }
}

.image2-icon::after {
  content: '';
  width: 60px;
  height: 60px;
  background-image: url('/images/advantages/icon-tab-mob-image2.svg');
  background-size: cover;
  position: absolute;
  left: 30px;
  top: 50%;
  transform: translate(-50%, -50%);

  @include mq(desk) {
    width: 100px;
    height: 100px;
  }
}

.image3-icon::after {
  content: '';
  width: 60px;
  height: 60px;
  background-image: url('/images/advantages/icon-tab-mob-image3.svg');
  background-size: cover;

  position: absolute;
  left: 30px;
  top: 50%;
  transform: translate(-50%, -50%);

  @include mq(desk) {
    width: 100px;
    height: 100px;
  }
}

@keyframes rotate {
  100% {
    transform: perspective(400px) rotateY(0deg);
  }

  0% {
    transform: perspective(400px) rotateY(360deg);
  }
}
