.advantages {
  padding-top: 70px;
  padding-bottom: 70px;

  @include mq(tab) {
    padding-top: 70px;
  }

  @include mq(desk) {
    padding-top: 130px;
    padding-bottom: 130px;
  }

  &__list-item {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 30px;

    @include mq(tab) {
      width: calc(100% - (2 * 21px) / 3);
      margin-bottom: 0;
      justify-content: start;
      &:not(:last-child) {
        margin-right: 21px;
      }
    }

    @include mq(desk) {
      width: calc(100% - (2 * 31px) / 3);
      &:not(:last-child) {
        margin-right: 31px;
      }
    }
  }

  &__list {
    @include mq(tab) {
      display: flex;
      justify-content: space-between;
    }
  }

  &__text {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.64;
    letter-spacing: 0.08em;
    position: relative;
    left: 7px;
    max-width: 146px;
    animation: rotate 2000ms 0s linear;
    .advantages__list-item:nth-child(3) & {
      // max-width: 105px;
    }
    .advantages__list-item:nth-child(2) & {
      @include mq(tab) {
        max-width: 105px;
      }
    }
    @include mq(tab) {
      max-width: 146px;
      left: 10px;
    }
    @include mq(desk) {
      font-size: 20px;
      max-width: 240px;
      left: -10px;
    }
    &--nowrap1 {
      @include mq(desk) {
        white-space: nowrap;
      }
    }
    &--nowrap2 {
      white-space: nowrap;
    }
  }

  &__icon-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
  }
}
.advantages__list-item::before {
  content: '';
  width: 60px;
  height: 60px;
  background-size: 60px 60px;
  background-repeat: no-repeat;
  background-position: center;

  @include mq(desk) {
    width: 100px;
    height: 100px;
    background-size: 100px 100px;
  }
}
.advantages__list-item:nth-child(1)::before {
  background-image: url('/images/advantages/icon-tab-mob-image1.svg');
}

.advantages__list-item:nth-child(2)::before {
  background-image: url('/images/advantages/icon-tab-mob-image2.svg');
}

.advantages__list-item:nth-child(3)::before {
  background-image: url('/images/advantages/icon-tab-mob-image3.svg');
}

@keyframes rotate {
  100% {
    transform: perspective(400px) rotateY(0deg);
  }

  0% {
    transform: perspective(400px) rotateY(360deg);
  }
}
