.benefits {
  padding-bottom: 70px;

  background-image: linear-gradient(
    to bottom,
    $main-text-accent-color 60%,
    $main-white-color 60%,
    $main-white-color
  );
  @include mq(tab) {
    padding-top: 35px;
    background-image: linear-gradient(
      to bottom,
      $main-text-accent-color 45%,
      $main-white-color 45%,
      $main-white-color
    );
  }
  @include mq(desk) {
    padding-top: 0;
    padding-bottom: 130px;
    background-image: linear-gradient(
      to bottom,
      $main-text-accent-color 40%,
      $main-white-color 40%,
      $main-white-color
    );
  }
  &__title {
    font-weight: 800;
    font-size: 20px;
    line-height: 1.36;
    letter-spacing: 0.03em;
    color: $main-white-color;

    max-width: 180px;
    margin-bottom: 30px;
    @include mq(tab) {
      font-size: 26px;
      line-height: 1.3;
      text-align: center;

      max-width: 100%;
    }
    @include mq(desk) {
      position: absolute;
      width: 1px;
      height: 1px;
      margin: -1px;
      border: 0;
      padding: 0;
      clip: rect(0 0 0 0);
      overflow: hidden;
    }
  }

  &__accent {
    color: $accent-color;
  }

  &__list {
    --gap-top: 30px;
    padding: 35px 22px;

    background-color: $main-white-color;
    box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);

    counter-reset: section;
    @include mq(tab) {
      --gap-top: 20px;
      --gap-left: 20px;
      padding: 40px 98px;
    }
    @include mq(desk) {
      --gap-top: 30px;
      --gap-left: 40px;
      padding: 67px 113px;

      position: relative;
      z-index: 10;
    }
  }

  &__item {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.43;
    color: $main-text-accent-color;

    display: flex;
    flex-direction: column;

    position: relative;
    @include mq(tab) {
      --card-colum: 1;
      --card-item: 2;
      line-height: 1.71;
    }
    @include mq(desk) {
      --card-colum: 2;
      --card-item: 3;

      font-size: 20px;
      line-height: 1.4;
    }
    &::before {
      counter-increment: section 1;
      content: '0' counters(section, '0.0');
      margin-bottom: 10px;
      padding-left: 28px;

      font-weight: 700;
      font-size: 14px;
      letter-spacing: 0.08em;
      line-height: 1.65;
      color: $accent-color;
      @include mq(desk) {
        font-size: 20px;
        line-height: 1.64;
      }
    }
    &::after {
      content: '';
      display: block;
      width: 20px;
      height: 2px;
      background-color: $accent-color;

      position: absolute;
      top: 10px;
      @include mq(desk) {
        top: 15px;
      }
    }
  }
}
