.contacts {
  padding-top: 55px;
  padding-bottom: 55px;
  text-align: center;

  background-image: url('/images/contacts/mob/mob-image-1x.png');
  background-color: #111518;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  @include mq(retina) {
    background-image: url('/images/contacts/mob/mob-image-2x.png');
  }

  & .accent-color {
    color: $accent-color;
  }
  @include mq(tab) {
    padding-bottom: 68px;
    padding-top: 60px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    background-image: url('/images/contacts/tab/tab-image-1x.png');

    @include mq(retina) {
      background-image: url('/images/contacts/tab/tab-image-2x.png');
    }
  }

  @include mq(desk) {
    padding-top: 100px;
    padding-bottom: 62px;
    max-width: 1680px;
    background-image: url('/images/contacts/desk/desk-image-1x.png');

    @include mq(retina) {
      background-image: url('/images/contacts/desk/desk-image-2x.png');
    }
  }
  &__title {
    max-width: 280px;
    font-weight: 800;
    font-size: 14px;
    line-height: 1.3;
    letter-spacing: 0.03em;
    color: $main-white-color;
    margin-bottom: 25px;

    @media screen and (max-width: 768px) {
      margin-left: auto;
      margin-right: auto;
    }

    @include mq(tab) {
      max-width: 625px;
      margin-bottom: 50px;
      font-size: 26px;
      line-height: 1.3;
    }

    @include mq(desk) {
      max-width: 980px;
      font-size: 46px;
      margin: 0 auto 50px;
    }
  }

  &__text {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.25;
    letter-spacing: 0.08em;
    margin-bottom: 43px;
    color: $main-white-color;

    @include mq(tab) {
      margin-bottom: 40px;
      font-weight: 600;
      font-size: 16px;
    }

    @include mq(desk) {
      font-size: 30px;
      line-height: 1.23;
      margin-bottom: 56px;
    }
  }

  &__form {
    @include mq(tab) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__form-input {
    margin-bottom: 20px;
    padding-left: 18px;
    width: 280px;
    height: 48px;
    color: $main-white-color;
    background-color: transparent;
    border: 2px solid $main-white-color;
    outline: none;
    &:last-of-type {
      margin-bottom: 0;
    }

    &:not(:placeholder-shown):required:invalid {
      border-color: red;
    }
    &::placeholder {
      color: $main-white-color;
      font-weight: 600;
      font-size: 14px;
      line-height: 1.21;
      letter-spacing: 0.08em;
    }

    @include mq(tab) {
      width: 390px;
      padding-left: 28px;
    }

    @include mq(desk) {
      width: 478px;
      height: 70px;
      padding-left: 40px;
      margin-bottom: 30px;
    }
  }

  &__form-button {
    @include button(260px, 48px, var(--main-white-color), var(--accent-color));
    display: inline;
    font-size: 12px;
    line-height: 1.25;
    letter-spacing: 0.08em;
    margin-top: 50px;
    transition: var(--timing-function), box-shadow var(--timing-function);
    transition-duration: 250ms;
    &:focus,
    &:active,
    &:hover {
      background-color: $main-white-color;
      color: $accent-color;
      box-shadow: 3px 2px 9px 3px var(--accent-color);
    }

    @include mq(tab) {
      width: 260px;
      height: 48px;
      margin-top: 30px;
    }

    @include mq(desk) {
      width: 354px;
      height: 70px;
      margin-top: 80px;
    }
  }
}
