.footer__top {
  @include mq(mob) {
    text-align: center;
    padding-top: 24px;
    padding-bottom: 32px;
  }

  @include mq(tab) {
    display: flex;
    padding-top: 50px;
    padding-bottom: 40px;
  }

  @include mq(desk) {
    padding-top: 52px;
    padding-bottom: 53px;
  }
}

.logo__icon {
  @include mq(mob) {
    margin-bottom: 20px;
  }

  @include mq(tab) {
    margin-right: auto;
  }
  @include mq(desk) {
    margin-right: 290px;
  }
}

.footer-tel {
  display: flex;
  align-items: center;
  //   justify-content: center;

  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.08em;
  color: $main-text-accent-color;

  @include mq(mob) {
    margin-bottom: 30px;
  }

  @include mq(tab) {
    font-size: 20px;
    line-height: 1.2;
    margin-right: 48px;
  }

  @include mq(desk) {
    font-size: 30px;
    line-height: 1.23;
  }
}

.footer__icon {
  margin-right: 10px;

  @include mq(tab) {
    margin-right: 20px;
    width: 24px;
    height: 24px;
  }

  @include mq(desk) {
    margin-right: 30px;
    width: 30px;
    height: 30px;
  }
}

.footer__link {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 40px;
  background-image: url(../images/footer/instagram.svg);
  background-repeat: no-repeat;
  background-position: center;

  @include mq(tab) {
    &::before {
      top: 0;
      left: -24px;
      width: 1px;
      height: 40px;
      background-color: $secondary-text-color;
    }
  }
}

.footer__bottom {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: $main-text-accent-color;
}

.footer__copyright {
  font-weight: 500;
  font-size: 14px;
  line-height: 2;
  color: $secondary-text-color;

  @include mq(mob) {
    text-align: center;
  }
}
