.footer__top {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 30px;

  @include mq(tab) {
    display: flex;
    flex-direction: row;
    padding-top: 50px;
    padding-bottom: 40px;
  }

  @include mq(desk) {
    padding-top: 52px;
    padding-bottom: 52px;
  }
}
.footer__logo {
  @include mq(desk) {
    margin-right: 290px;
  }
}
.logo__icon {
  display: block;
  margin-bottom: 22px;

  @include mq(tab) {
    margin-bottom: 0;
  }
}

.footer-tel {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.08em;
  color: $main-text-accent-color;
  animation-duration: 1250ms;
  transition: color 250ms ease-in-out, transform 250ms ease-in-out;

  &:hover,
  &:focus {
    color: rgb(255, 107, 9);
    transform: scale(1.1);
  }

  @include mq(tab) {
    font-size: 20px;
    line-height: 1.2;
    margin-right: 40px;
    margin-bottom: 0;
    margin-left: auto;
  }

  @include mq(desk) {
    margin-right: 56px;
    margin-left: 0;
    font-size: 30px;
    line-height: 1.23;
  }
}

.footer__wrap {
  display: flex;
}

.footer__icon {
  @include mq(tab) {
    margin-right: 39px;
    width: 24px;
    height: 24px;
  }

  @include mq(desk) {
    margin-right: 30px;
    width: 30px;
    height: 30px;
  }
}

.footer__link {
  position: relative;
  width: 40px;
  height: 40px;

  @include mq(tab) {
    &::before {
      content: '';
      position: absolute;
      display: block;
      width: 1px;
      height: 40px;
      background-color: $secondary-text-color;
      left: -20px;
    }
  }
  @include mq(desk) {
    &::before {
      left: -25px;
    }
  }
}

.footer__bottom {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: $main-text-accent-color;
}

.footer__copyright {
  font-weight: 500;
  font-size: 14px;
  line-height: 2;
  color: $secondary-text-color;
  @include mq(mob-only) {
    text-align: center;
  }
}
