.guarantee {
  padding-top: 70px;

  @include mq(mob-only) {
    background-image: linear-gradient(to bottom, #ffffff 131px, #f1f1f1 131px, #f1f1f1 425px);
  }

  @include mq(desk) {
    padding-top: 130px;
  }
}

.guarantee__container {
  padding-top: 45px;
  padding-bottom: 45px;

  @include mq(tab) {
    padding: 30px 65px;
    background-color: $supplement-bg-color;
  }

  @include mq(desk) {
    padding: 50px 112px 45px 112px;
  }
}

.guarantee__title {
  text-align: center;
  margin-bottom: 30px;
  font-size: 26px;

  @include mq(desk) {
    margin-bottom: 50px;
  }
}

.guarantee__item {
  position: relative;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.6;
  color: $supplement-text-color;

  text-align: left;
  padding-left: 28px;
  letter-spacing: 0;

  &:not(:last-of-type) {
    border-left: 1px dashed $secondary-text-color;
  }

  &:not(:last-child) {
    padding-bottom: 18px;
    margin-bottom: 7px;
  }

  @include mq(tab) {
    &:not(:last-child) {
      padding-left: 24;
      padding-bottom: 13px;
      margin-bottom: 7px;
    }
  }

  @include mq(desk) {
    font-size: 20px;
    line-height: 1.4;
    padding-left: 41px;
    &:not(:last-child) {
      padding-bottom: 12px;
      margin-bottom: 8px;
    }
  }
}

.guarantee__item::before {
  content: '';
  background-image: url(../images/guarantee/svg/campfire-mob-tab.svg);
  background-color: $supplement-bg-color;
  position: absolute;
  width: 15px;
  height: 24px;
  background-size: contain;
  background-repeat: no-repeat;

  left: -8px;
  top: -1px;
  margin-right: 20px;

  @include mq(desk) {
    top: -3px;
    left: -10px;
    background-image: url(../images/guarantee/svg/campfire-desk.svg);
    width: 20px;
    height: 34px;
  }
}

.guarantee__accent {
  color: $accent-color;
  font-size: inherit;
}
