.header {
  &__section {
    padding: 30px 0;
    @include mq(tab-only) {
      padding: 40px 0;
    }
  }
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__logo {
    width: 128px;
    height: 45px;
    @include mq(mob-only) {
      width: 80px;
      height: 30px;
    }
  }
  &__button {
    @include button(336px, 70px, $accent-color, transparent);
    @include mq(tab-only) {
      @include button(260px, 48px, $accent-color, transparent);
    }
    @include mq(mob-only) {
      display: none;
    }
    transition: background-color $transition, color $transition;

    &:hover,
    &:focus {
      background-color: $accent-color;
      color: $main-white-color;
    }
  }
}

.logo__img {
  display: block;
}

.navigation {
  display: none;
  @include mq(desk) {
    display: block;
  }
  &__list {
    display: flex;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 40px;
    }
  }

  &__link {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.21;
    text-transform: uppercase;
    color: $secondary-text-color;
    transition: color $transition;

    &:nth-child(odd) {
      padding: 4px 20px 3px 20px;
    }
    &:nth-child(even) {
      padding: 4px 4px 3px 4px;
    }

    &:hover,
    &:focus {
      color: $accent-color;
    }
  }
}

.menu-button {
  display: none;
  @include mq(no-desk) {
    display: block;
  }
}

.menu-container {
  position: absolute;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;

  visibility: hidden;
  opacity: 0;
  pointer-events: none;

  background-color: rgba(17, 21, 24, 0.9);

  transform: opacity $transition;

  /*  mobilka */
  padding: 30px 20px 20px 20px;

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
  }

  &__list {
    margin-bottom: 50px;
  }

  &__item {
  }

  &__link {
    font-weight: 800;
    font-size: 20px;
    line-height: 180%;
    letter-spacing: 0.03em;

    color: $main-white-color;

    &:hover,
    &:focus {
      color: $accent-color;
    }
  }

  &__button {
    @include button(260px, 48px, $accent-color, transparent);
    margin: 0 auto;
    padding: 14px 0;

    font-weight: 700;
    font-size: 12px;
    line-height: 1.25;
    letter-spacing: 0.08em;
    text-transform: uppercase;
  }
}

.icon {
  display: block;
}

.navigation__menu-container.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}
