.no-scroll {
  /* For body add class by menu button */
  overflow: hidden;
}

.header {
  &__section {
    padding: 30px 0;
    @include mq(tab-only) {
      padding: 40px 0;
    }
  }
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__button {
    @include button(336px, 70px, $accent-color, transparent);
    @include mq(tab-only) {
      margin-right: 40px;
      margin-left: auto;
      @include button(260px, 48px, $accent-color, transparent);
    }
    @include mq(mob-only) {
      display: none;
    }
    transition: background-color $transition, color $transition;

    &:hover,
    &:focus {
      background-color: $accent-color;
      color: $main-white-color;
    }
  }
}

.navigation {
  display: none;
  margin-right: 65px;
  margin-left: auto;
  @include mq(desk) {
    display: block;
  }
  &__list {
    display: flex;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 60px;
    }
  }

  &__link {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.21;
    text-transform: uppercase;
    color: $secondary-text-color;
    transition: color $transition;

    &:hover,
    &:focus {
      color: $accent-color;
    }
  }
}

.menu-button {
  z-index: 20;
  display: none;
  width: 30px;
  height: 30px;
  border: none;
  background-color: transparent;
  @include mq(tab-only) {
    width: 45px;
    height: 45px;
  }
  @include mq(no-desk) {
    display: block;
  }
  &--burger {
    z-index: 20;
  }
}
