.program {
  padding-top: 50px;
  padding-bottom: 70px;
  background-color: $main-text-accent-color;
}

.program__title {
  color: $main-white-color;
  text-align: center;
  font-weight: 800;
  font-size: 20px;
  line-height: 1.3;
  letter-spacing: 0.03em;

  margin-bottom: 30px;
}

.program__list {
  margin-left: 74px;
}

.program__item {
  position: relative;
  font-weight: 700;
  font-size: 14px;
  line-height: 2px;

  letter-spacing: 0.08em;
  text-transform: uppercase;

  color: $main-white-color;
  &:not(:last-child) {
    border-left: 3px solid $main-white-color;
    padding-bottom: 40px;
  }

  padding-left: 26px;
}

.program__subitem {
  margin-top: 8px;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.6;

  align-items: center;
  letter-spacing: 0.08em;

  color: $accent-color;
}

.program__item ul + ul {
  margin-bottom: 8px;
}

.program__subitem {
  font-weight: 700;
  font-size: 12px;
  line-height: 1.6;

  letter-spacing: 0.08em;

  color: $accent-color;

  &::before {
    content: '';
    width: 15px;
    height: 32px;
    background-image: url(../images/program/svg/dash.svg);
    background-size: contain;
  }
}

.program__subitem-vocabulary,
.program__subitem-grammar,
.program__subitem-writing,
.program__subitem-dash {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.6;
  letter-spacing: 0.08em;

  color: #b9b9b9;

  opacity: 0.5;
}

// .program__sublist-grammar {
//   margin-top: 42px;
//   &::before {
//     display: block;
//     background-size: contain;
//     background-repeat: no-repeat;

//     content: '';
//     width: 136px;
//     height: 32px;
//     background-image: url(../images/program/svg/grammar.svg);
//     // margin-top: 5px;
//     margin-bottom: 5px;
//   }
// }

// .program__sublist-vocabulary {
//   margin-top: 45px;
//   &::before {
//     display: block;
//     background-size: contain;
//     background-repeat: no-repeat;

//     content: '';
//     width: 176px;
//     height: 32px;
//     background-image: url(../images/program/svg/vocabulary.svg);
//     // margin-top: 5px;
//     margin-bottom: 5px;
//   }
// }

// .program__sublist-writing {
//   margin-top: 45px;
//   &::before {
//     display: block;
//     background-size: contain;
//     background-repeat: no-repeat;

//     content: '';
//     width: 130px;
//     height: 32px;
//     background-image: url(../images/program/svg/writing.svg);
//     // margin-top: 5px;
//     margin-bottom: 5px;
//   }
// }

// .program__sublist-dash {
//   margin-top: 47px;
//   &::before {
//     display: block;
//     background-size: contain;
//     background-repeat: no-repeat;

//     content: '';
//     width: 25px;
//     height: 32px;
//     background-image: url(../images/program/svg/dash.svg);
//     // margin-top: 5px;
//     margin-bottom: 5px;
//   }
// }

.program__item::before {
  content: '';
  background-image: url(../images/program/svg/ellipse.svg);
  position: absolute;
  width: 12px;
  height: 12px;
  background-size: contain;

  left: -7px;
  top: -4px;
  //   margin-right: 20px;
}
