.reviews {
  padding-top: 70px;
  padding-bottom: 61px;
}
.reviews__wrap {
  position: relative;
}

.reviews__container {
  position: relative;
  overflow: hidden;
}

.reviews__title {
  font-weight: 800;
  font-size: 20px;
  line-height: 1.3;

  text-align: center;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 25px;
}

.reviews__list {
  padding-left: 20px;
  padding-right: 20px;
}

.reviews__name {
  margin-bottom: 20px;

  font-weight: 800;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.08em;
  color: $accent-color;
  text-align: center;
}

.reviews__course {
  margin-bottom: 16px;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.25;

  letter-spacing: 0.08em;
  color: $secondary-text-color;
}

.reviews__text {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;

  color: $supplement-text-color;
}

.reviews__more {
  text-decoration: underline;
  color: $accent-color;
}

.reviews__social {
  display: block;
  width: 34px;
  height: 34px;
  margin-top: 18px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

.slider {
  position: relative;
  margin-bottom: 40px;
}

.slick-list {
  overflow: hidden;
  margin: 0;
}

.slick-track {
  display: flex;
}

.slick-arrow {
  font-size: 0;
  width: 27px;
  height: 16px;
  z-index: 999;
  border: none;
  background-color: transparent;
}

.slick-btn-prev {
  position: absolute;
  bottom: 27px;
  left: 20px;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='27' height='16' viewBox='0 0 27 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M26 7C26.5523 7 27 7.44772 27 8C27 8.55228 26.5523 9 26 9V7ZM0.292892 8.70711C-0.0976315 8.31658 -0.0976315 7.68342 0.292892 7.29289L6.65685 0.928932C7.04738 0.538408 7.68054 0.538408 8.07107 0.928932C8.46159 1.31946 8.46159 1.95262 8.07107 2.34315L2.41421 8L8.07107 13.6569C8.46159 14.0474 8.46159 14.6805 8.07107 15.0711C7.68054 15.4616 7.04738 15.4616 6.65685 15.0711L0.292892 8.70711ZM26 9H1V7H26V9Z' fill='%23FF6B09'/%3e%3c/svg%3e ");
}

.slick-arrow.slick-btn-next {
  position: absolute;
  bottom: 27px;
  right: 20px;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='27' height='16' viewBox='0 0 27 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1 7C0.447715 7 0 7.44772 0 8C0 8.55228 0.447715 9 1 9V7ZM26.7071 8.70711C27.0976 8.31658 27.0976 7.68342 26.7071 7.29289L20.3431 0.928932C19.9526 0.538408 19.3195 0.538408 18.9289 0.928932C18.5384 1.31946 18.5384 1.95262 18.9289 2.34315L24.5858 8L18.9289 13.6569C18.5384 14.0474 18.5384 14.6805 18.9289 15.0711C19.3195 15.4616 19.9526 15.4616 20.3431 15.0711L26.7071 8.70711ZM1 9H26V7H1V9Z' fill='%23FF6B09'/%3e%3c/svg%3e ");
}
.reviews__click {
  display: flex;
  justify-content: center;
  width: 182px;
  margin: 0 auto;

  @include mq(tab) {
    width: 558px;
  }
}

.reviews__frame {
  &:not(:last-child) {
    margin-right: 10px;
  }

  &.slick-current {
    picture {
      display: inline-block;
      outline: 1px solid $accent-color;
      border-radius: 50%;
    }
  }
}

.reviews__frame .reviews__img {
  & {
    display: block;
    width: 54px;
    height: 54px;

    border-radius: 50%;
  }
}

@include mq(mob-only) {
  .reviews__avatar {
    width: 90px;
    height: 90px;

    margin-left: auto;
    margin-right: auto;
  }

  .reviews__course {
    max-width: 240px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 16px;

    text-align: center;
  }

  .reviews__text {
    max-width: 240px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 72px;
  }

  .reviews__frame .reviews__img:nth-child(n + 4) {
    display: none;
  }
  .reviews__frame .reviews__img:not(:first-child) {
    margin-left: 10px;
  }
  .slick-list {
  }
}

@include mq(tab) {
  .reviews {
    padding-bottom: 70px;
  }

  .reviews__item {
    display: flex;
  }

  .reviews__avatar {
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
  }

  .reviews__course {
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.67;
  }
}

@include mq(tab) {
  .reviews__title {
    font-size: 26px;
    margin-bottom: 30px;
  }

  .reviews__list {
    padding: 40px;
    box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);
  }

  .reviews__left {
    padding-top: 18px;
    margin-right: 46px;
  }

  .reviews__name {
    font-size: 20px;
    line-height: 1.2;
    text-align: left;
  }
  .reviews__text {
    /* margin-bottom: 100px; */
    font-size: 12px;
    line-height: 1.67;
  }

  .slick-list {
    margin-bottom: 30px;
  }
  .slick-btn-prev {
    position: absolute;
    top: 40%;
    left: 0;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='27' height='16' viewBox='0 0 27 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M26 7C26.5523 7 27 7.44772 27 8C27 8.55228 26.5523 9 26 9V7ZM0.292892 8.70711C-0.0976315 8.31658 -0.0976315 7.68342 0.292892 7.29289L6.65685 0.928932C7.04738 0.538408 7.68054 0.538408 8.07107 0.928932C8.46159 1.31946 8.46159 1.95262 8.07107 2.34315L2.41421 8L8.07107 13.6569C8.46159 14.0474 8.46159 14.6805 8.07107 15.0711C7.68054 15.4616 7.04738 15.4616 6.65685 15.0711L0.292892 8.70711ZM26 9H1V7H26V9Z' fill='%23FF6B09'/%3e%3c/svg%3e ");
  }

  .slick-arrow.slick-btn-next {
    position: absolute;
    top: 40%;
    right: 0;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='27' height='16' viewBox='0 0 27 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1 7C0.447715 7 0 7.44772 0 8C0 8.55228 0.447715 9 1 9V7ZM26.7071 8.70711C27.0976 8.31658 27.0976 7.68342 26.7071 7.29289L20.3431 0.928932C19.9526 0.538408 19.3195 0.538408 18.9289 0.928932C18.5384 1.31946 18.5384 1.95262 18.9289 2.34315L24.5858 8L18.9289 13.6569C18.5384 14.0474 18.5384 14.6805 18.9289 15.0711C19.3195 15.4616 19.9526 15.4616 20.3431 15.0711L26.7071 8.70711ZM1 9H26V7H1V9Z' fill='%23FF6B09'/%3e%3c/svg%3e ");
  }
}

@include mq(desk) {
  .reviews {
    padding-top: 130px;
    padding-bottom: 130px;
  }
  .reviews .reviews__title {
    font-size: 46px;
    margin-bottom: 50px;
  }

  .reviews__list {
    box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);
    max-width: 1090px;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 82px;
    padding-right: 112px;
  }

  .reviews__left {
    padding-top: 33px;
    margin-right: 40px;
  }

  .reviews__name {
    margin-bottom: 10px;
    font-size: 30px;
    line-height: 1.23;
  }

  .reviews__course {
    max-width: 482px;
    margin-bottom: 18px;
    font-size: 14px;
    line-height: 1.29;
  }

  .reviews__text {
    /* margin-bottom: 118px; */
    font-size: 18px;
    line-height: 1.56;
  }
  .slick-list {
  }
}

.slick-slide {
  outline: none;
}
